﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<section class="content p-2">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">User List</h3>
            @*<div class="float-right">
                    <a href="#" class="btn-sm btn-block btn-primary">
                        <i class="fa fa-plus-square "></i>
                        Add New
                    </a>
                </div>*@
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @Html.Partial("/Views/Shared/Common/_MessagePartial.cshtml")
            <div id="jsGrid1"></div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
<div id="dialog-confirm">

</div>
<script type="text/javascript">
    function CommonActions(element) {
        var id = element.id;
        var ActionType = $("#" + id).data("actiontype");
        var ActionValue = $("#" + id).data("currentvalue");
        var UserId = $("#" + id).data("userid");
        var Message = "Do you really want to ";
        var Entity = " the user?";
        var SubMessage = "";
        if (ActionType == "IsPaid") {
            if (ActionValue == true) {
                SubMessage = "unpaid";
            }
            else { SubMessage = "paid"; }
        }
        else if (ActionType == "IsApproved") {
            if (ActionValue == true) {
                SubMessage = "disapprove";
            }
            else { SubMessage = "approve"; }
        }
        else if (ActionType == "IsActive") {
            if (ActionValue == true) {
                SubMessage = "deactivate";
            }
            else { SubMessage = "active"; }
        }
        else {
            SubMessage = "perform this action ";
        }
        $("#dialog-confirm").html("<p>" + Message + SubMessage + Entity + "</p>")
        $("#dialog-confirm").dialog({
            resizable: false,
            title: "Confirmation",
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Yes": function () {

                    $.ajax({
                        url: "/Admin/User/CommonAction",
                        dataType: "json",
                        method: "POST",
                        data: { UserId: UserId, CurrentValue: ActionValue, ActionType: ActionType }

                    }).done(function (response) {
                        if (response.IsSuccess == true) {
                            $("#jsGrid1").jsGrid();
                        }
                        else {

                        }


                    });
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

    }
    function Delete(UniqueId) {
        $("#dialog-confirm").html("<p>Do you really want to delete the record?</p>")
        $("#dialog-confirm").dialog({
            resizable: false,
            title: "Confirmation",
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Yes": function () {

                    $.ajax({
                        url: "/Admin/User/Delete",
                        dataType: "json",
                        data: { id: UniqueId }

                    }).done(function (response) {
                        if (response.IsSuccess == true) {
                            $("#jsGrid1").jsGrid();
                        }
                        else {

                        }


                    });
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

    }
    $(document).ready(function () {
        var DateField = function (config) {
            jsGrid.Field.call(this, config);
        };

        DateField.prototype = new jsGrid.Field({
            css: "date-field", // redefine general property 'css'
            align: "center", // redefine general property 'align'
            filtering: false,
            sorting: false,
            editing: false,
            displayformat: 'dd-MM-yyyy',
            onClick: function (idx) {
                console.log('hello' + idx);
            },
            itemTemplate: function (value, item) {
                return new Date(item.CreatedDateTime);
            }
        });
        jsGrid.fields.date = DateField;

        $("#jsGrid1").jsGrid({

            //width: "1045px",
            width: "100%",
            sorting: true,
            paging: true,
            pageSize: 10,
            autoload: true,
            filtering: true,
            inserting: false,
            deleteConfirm: "Do you really want to delete the Hospital?",
            controller: {
                loadData: function (filter) {
                    var d = $.Deferred();

                    $.ajax({
                        url: "/User/GetUsersList",
                        dataType: "json",
                        data: filter

                    }).done(function (response) {
                        console.log(response);
                        d.resolve(response);
                    });

                    return d.promise();
                }
            },
            fields: [
                {
                    type: "control", width: 110, editButton: false, deleteButton: false,
                    itemTemplate: function (value, item) {

                        var $EditButton = "";
                        var $ViewButton = "";

                        var $ViewClass = "fas fa-pencil-alt";


                        $ViewClass = "fas fa-eye";
                        //if (item.statusId == "1" || item.statusId == "2") {
                        $EditButton = $("<a>")
                            .attr({ onclick: "window.location='/Admin/User/Userdetail/" + item.UserId + "'" })
                            //.attr({ onclick: "alert('This features under construction.');" })
                            .attr({ title: "Edit" })
                            .append($("<i>").attr({ class: "fas fa-pencil-alt" }));
                        //}
                        var $DeleteButton = $("<a>").
                            //attr("data-toggle", "modal").attr("data-target","#modal-sm")
                            attr({ onclick: "Delete" + "('" + item.UserId + "')" })
                            .attr({ title: "Delete" })
                            .append($("<i>").attr({ class: "fas fa-trash-alt" }));

                        $ViewButton = $("<a>")
                            .attr({ onclick: "window.location='/User/Edit/" + item.UserId + "'" })
                            //.attr({ class:"btn btn-info"})
                            .attr({ title: "View" })
                            .append($("<i>").attr({ class: $ViewClass }));

                        return $("<b>").append($EditButton);//.append('&nbsp;&nbsp;&nbsp;').append($DeleteButton)
                    }
                },
                { name: "FirstName", type: "text", title: "First Name", width: 100 },
                { name: "LastName", type: "text", title: "Last Name", width: 100 },
                { name: "Gender", type: "text", title: "Gender", width: 70 },
                { name: "WorkEmail", type: "text", title: "Email", width: 180 },
                { name: "ContactNo", type: "text", title: "Contact No", width: 100 },
                { name: "UserType", type: "text", title: "User Type", width: 80, filtering: true },
                { name: "PackageName", type: "text", title: "Package", width: 80, filtering: true },
                { name: "TotalPaidAmount", type: "text", title: "Total Price", width: 60, filtering: false },
                 { name: "UpdatedDateTime", type: "text", title: "Last Login", width: 100, filtering: false },
                { name: "SubscriptionDate", type: "text", title: "Sub. On", width: 100, filtering: false },
                { name: "SubscriptionExpireDate", type: "text", title: "Expired On", width: 100, filtering: false },
                {
                    name: "IsPaid", type: "text", title: "Paid", width: 60, align: "center", filtering: false,
                    itemTemplate: function (value, item) {
                        $textColor = "text-gray";
                        if (item.IsPaid == true) {
                            $textColor = "text-success";
                        }
                        $OnClickEvent = "CommonActions(this);";
                        if (item.PackageName == "Free") {
                            $OnClickEvent = "";
                            $textColor = "text-danger";
                        }
                        $PaidClass = "fas fa-check-circle " + $textColor;



                        $PaidButton = $("<a>")
                            //.attr({ class: $DisableClass })
                            .attr({ id: "IsPaid_" + item.UserId })
                            .attr("data-UserId", item.UserId)
                            .attr("data-CurrentValue", item.IsPaid)
                            .attr("data-ActionType", "IsPaid")

                            //.attr({ onclick: $OnClickEvent })
                            //.attr({ onclick: "CommonActions" + "('" + item.UserId + "','" + item.IsPaid + "','" + "IsPaid" + "')" })
                            //.attr({ class:"btn btn-info"})
                            .attr({ title: "Paid/Unpaid" })
                            .append($("<i>").attr({ class: $PaidClass }));
                        //$PaidButton = $PaidButton.attr({ class: $DisableClass })
                        return $("<div>").append($PaidButton)
                    }
                },

                /*{
                    name: "CreatedDateTime", type: "date", title: "Register On", width: 100, formatoptions: { newformat: 'd/m/Y h:i:s A' }, datefmt: 'd/m/y  h:i:s A'

                },*/
                {
                    name: "IsApproved", type: "text", title: "Approved", width: 90, align: "center", filtering: false,
                    itemTemplate: function (value, item) {
                        $textColor = "text-gray";
                        if (item.IsApproved == true) {
                            $textColor = "text-success";
                        }
                        $PaidClass = "fas fa-check-circle " + $textColor;
                        $PaidButton = $("<a>")
                            .attr({ id: "IsApproved_" + item.UserId })
                            .attr("data-UserId", item.UserId)
                            .attr("data-CurrentValue", item.IsApproved)
                            .attr("data-ActionType", "IsApproved")
                            .attr({ onclick: "CommonActions(this);" })
                            //.attr({ onclick: "CommonActions" + "('" + item.UserId + "','" + item.IsPaid + "','" +"IsApproved"+"')" })
                            //.attr({ class:"btn btn-info"})
                            .attr({ title: "Approved/Reject" })
                            .append($("<i>").attr({ class: $PaidClass }));
                        return $("<div>").append($PaidButton)
                    }
                },
                {
                    name: "IsActive", type: "text", title: "Active", width: 70, align: "center", filtering: false,
                    itemTemplate: function (value, item) {
                        $textColor = "text-gray";
                        if (item.IsActive == true) {
                            $textColor = "text-success";
                        }
                        $PaidClass = "fas fa-check-circle " + $textColor;
                        $PaidButton = $("<a>")
                            .attr({ id: "IsActive_" + item.UserId })
                            .attr("data-UserId", item.UserId)
                            .attr("data-CurrentValue", item.IsActive)
                            .attr("data-ActionType", "IsActive")
                            .attr({ onclick: "CommonActions(this);" })
                            //.attr({ onclick: "CommonActions" + "('" +this + "')" })
                            //.attr({ class:"btn btn-info"})
                            .attr({ title: "Active/Deactive" })
                            .append($("<i>").attr({ class: $PaidClass }));
                        return $("<div>").append($PaidButton)
                    }
                }




            ]
        });
    });
</script>