﻿@model CRMModel.CustomEntity.SP_Select_User
@{
    ViewBag.Title = "User Detail";
}

<section class="content p-2">
    <div class="card">
        <div class="card-header ">
            <h3 class="card-title">User Details</h3>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @using (Html.BeginForm("Userdetail", "User", FormMethod.Post, new { id = "frmUserDetails" }))
            {
              
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>First Name <span class="text-danger">*</span></span>
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    @*<div class="col-md-4">
                        <div class="form-group">
                            <span>Middle Name</span>
                            @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control" })
                        </div>
                    </div>*@
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Last Name <span class="text-danger">*</span></span>
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Email <span class="text-danger">*</span></span>
                            @Html.TextBoxFor(model => model.WorkEmail, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Gender <span class="text-danger">*</span></span>
                            @Html.DropDownListFor(model => model.Gender, new SelectList(ViewBag.GenderList, "Value", "Text"), "--Select--", new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Contact No <span class="text-danger">*</span></span>
                            @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Package</span>
                            @Html.DropDownListFor(model => model.PackageId, new SelectList(ViewBag.Packages, "Id", "PackageName"), "--Select--", new { @class = "form-control select2" })
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Active</span>
                            <br />
                            @Html.CheckBoxFor(model => model.IsActive, new { @class = "select2" })

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Paid</span>
                            <br />
                            @Html.CheckBoxFor(model => model.IsPaid, new { @class = "select2" })

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Approved</span>
                            <br />
                            @Html.CheckBoxFor(model => model.IsApproved, new { @class = "select2" })

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
        <!-- /.card-body -->
    </div>

</section>

