﻿@model IEnumerable<CRMModel.CustomEntity.SP_Select_Contact>
@{
	Layout = "";
}
<table class="table table-bordered m-0  " id="calltable">
	<thead>
		<tr>
			<th></th>
			<th>Action</th>
			<th>Organization</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Phone1</th>
			<th>Phone2</th>
			<th>Extn</th>
			<th>Designation</th>
			<th>City</th>
			@*<th>Unit No</th>
			<th>Street</th>
			<th>Pin Code</th>*@
			<th>Email1</th>
			<th>Email2</th>
			<th>Chat1</th>
			<th>Chat2</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ToList())
		{
			<tr>
				<td></td>
				<td><a onclick='OpenContactDialog(@item.Id,@item.ParentContactId,"dlgContact")'><i class="fas fa-pencil-alt"></i></a></td>
				<td>@item.OrganisationName</td>
				<td>@item.FirstName</td>
				<td>@item.LastName</td>
				<td>@item.PrimaryPhoneNo</td>
				<td>@item.PhoneNo2</td>
				<td>@item.Extn</td>
				<td>@item.Designation</td>
				<td>@item.CityName</td>
				@*<td></td>
				<td>@item.Street</td>
				<td>@item.PinCode</td>*@
				<td>@item.PrimaryEmail</td>
				<td>@item.ScondaryEmail</td>
				<td>@item.Chat1</td>
				<td>@item.Chat2</td>
                <td>
                    @item.UnitNo,@item.Street,  @item.PinCode
                </td>
			</tr>
		}

	</tbody>
</table>

<script>
	$(function () {
		$("#calltable").DataTable({
			"responsive": true,
			"autoWidth": true,
			"ordering": false,
			"searching": false,
			"paging": false,
			"info": false
		});
	});
</script>

