﻿@{
    Layout = "";

}
<div class="row">
    <div class="col-md-12">
		<div class="custom-file">
			<input type="file" id="ContactPath" title="Browse" value="Browse" class="custom-file-input" />
			<label class="custom-file-label" for="customFile">Choose file</label>
		</div>
    </div>

</div>
<div class="row" style="margin-top:5px;">
	<div class="col-md-3">

			<form id="_import" method="post" action='@Url.Action("ImportContactDetail", "Contact")'></form>
			<input type="button" title="Import" value="Import" class="btn btn-primary" onclick="Importdata();" />

	</div>
</div>
<script>
	$(document).ready(function () {
		bsCustomFileInput.init();
	});
</script>