﻿@model CRMModel.CustomEntity.SP_Select_Contact
@{
	Layout = "";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmManageContact" }))
{
	@*@Html.Partial("_CreateOrUpdate", Model)*@
	@Html.HiddenFor(model => model.ParentContactId)
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.OrganisationId)
	@Html.HiddenFor(model => model.DesignationId)
	@Html.HiddenFor(model => model.CityId)
	@Html.HiddenFor(modl=>Model.IndustryTypeId)
<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			<label>Organization <span class="text-danger">*</span></label>
			@Html.TextBoxFor(model => model.OrganisationName, new { @class = "form-control" })
			@Html.HiddenFor(model => model.OrganisationId, new { id = "hdnOrganisationId" })
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>First Name <span class="text-danger">*</span></label>
			@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Last Name <span class="text-danger">*</span></label>
			@Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Designation <span class="text-danger">*</span></label>
			@Html.TextBoxFor(model => model.Designation, new { @class = "form-control" })
			@Html.HiddenFor(model => model.DesignationId, new { id = "hdnDesignationId" })
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Phone1</label>
			@Html.TextBoxFor(model => model.PrimaryPhoneNo, new { @class = "form-control" })
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Phone2</label>
			@Html.TextBoxFor(model => model.PhoneNo2, new { @class = "form-control" })
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Extn.</label>
			@Html.TextBoxFor(model => model.Extn, new { @class = "form-control" })
		</div>
	</div>
	
	
	<div class="col-md-3">
		<div class="form-group">
			<label>Email1</label>
			@Html.TextBoxFor(model => model.PrimaryEmail, new { @class = "form-control" })
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Email2</label>
			@Html.TextBoxFor(model => model.ScondaryEmail, new { @class = "form-control" })
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Chat1</label>
			@Html.TextBoxFor(model => model.Chat1, new { @class = "form-control" })
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Chat2</label>
			@Html.TextBoxFor(model => model.Chat2, new { @class = "form-control" })
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Address Line 1</label>
			@Html.TextBoxFor(model => model.UnitNo, new { @class = "form-control" })
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Address Line 2</label>
			@Html.TextBoxFor(model => model.Street, new { @class = "form-control" })
		</div>
	</div>
	
	<div class="col-md-3">
		<div class="form-group">
			<label>City <span class="text-danger">*</span></label>
			@Html.TextBoxFor(model => model.CityName, new { @class = "form-control" })
			@Html.HiddenFor(model => model.CityId, new { id = "hdnCityId" })
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label>Pin Code</label>
			@Html.TextBoxFor(model => model.PinCode, new { @class = "form-control" })
		</div>
	</div>
	<div class="col-md-3" style="display:none;">
		<div class="form-group">
			<label>Customer Type</label>
			@Html.DropDownListFor(model => model.CustomerTypeId, new SelectList(ViewBag.CustomerTypeList, "Id", "CustomerType", Model.CustomerTypeId), "Select", new { @class = "form-control" })
		</div>
	</div>
</div>
	<div class="row">
		<div class="col-md-2">
			<input type="button" value="Save" id="btnContactSave" class="btn btn-primary" onclick="SaveContactDetails();" />
		</div>
		 
	</div>
}
<script>
	$(document).ready(function () {
		$("#OrganisationName")
			.bind("keydown", function (event) {

				if (event.keyCode == 188) {
					$(this).val('');
					event.preventDefault();
				}
				if (event.keyCode === $.ui.keyCode.TAB &&
					$(this).data("ui-autocomplete").menu.active) {
					event.preventDefault();
				}

			})
			.autocomplete({
				source: function (request, response) {
					$.ajax({
						url: '/Member/Organization/FetchOrganization',
						dataType: "json",
						method: "GET",
						data: {
							SearchText: extractLast(request.term)
						},
						success: function (data) {
							console.log(data);
							response(data);
						}
					});
				},
				minLength: 2,
				change: function (event, ui) {
					/*if (!ui.item) {
						this.value = '';
						$(this).val('');
						$(this).prop('placeholder', "No Match Found");
					}*/
				},
				select: function (event, ui) {
					event.preventDefault();
					$(this).val(ui.item.label);
					$("#OrganisationId").val(ui.item.value);
					if (ui.item.value != 0) {
						if (ui.item.label.indexOf("No Match Found") < 0) {

							$(this).val(ui.item.label);
							$("#OrganisationId").val(ui.item.value);
						}
					}
					else {
						//this.value = '';
						$("#OrganisationId").val("0");
					}
				},
				focus: function () {
					// prevent value inserted on focus
					return false;
				}
			}).autocomplete("instance")._renderItem = function (ul, item) {
				return $("<li>")
					.append("<div>" + item.label + "</div>")
					.appendTo(ul);
			};
		$("#Designation")
			.bind("keydown", function (event) {

				if (event.keyCode == 188) {
					$(this).val('');
					event.preventDefault();
				}
				if (event.keyCode === $.ui.keyCode.TAB &&
					$(this).data("ui-autocomplete").menu.active) {
					event.preventDefault();
				}

			})
			.autocomplete({
				source: function (request, response) {
					$.ajax({
						url: '/Member/Designation/FetchDesignation',
						dataType: "json",
						method: "GET",
						data: {
							SearchText: extractLast(request.term)
						},
						success: function (data) {
							console.log(data);
							response(data);
						}
					});
				},
				minLength: 2,
				change: function (event, ui) {
					/*if (!ui.item) {
						this.value = '';
						$(this).val('');
						$(this).prop('placeholder', "No Match Found");
					}*/
				},
				select: function (event, ui) {
					event.preventDefault();
					$(this).val(ui.item.label);
					$("#DesignationId").val(ui.item.value);
					if (ui.item.value != 0) {
						if (ui.item.label.indexOf("No Match Found") < 0) {

							$(this).val(ui.item.label);
							$("#DesignationId").val(ui.item.value);
						}
					}
					else {
						//this.value = '';
						$("#DesignationId").val("0");
					}
				},
				focus: function () {
					// prevent value inserted on focus
					return false;
				}
			}).autocomplete("instance")._renderItem = function (ul, item) {
				return $("<li>")
					.append("<div>" + item.label + "</div>")
					.appendTo(ul);
			};
		$("#CityName")
			.bind("keydown", function (event) {

				if (event.keyCode == 188) {
					$(this).val('');
					event.preventDefault();
				}
				if (event.keyCode === $.ui.keyCode.TAB &&
					$(this).data("ui-autocomplete").menu.active) {
					event.preventDefault();
				}

			})
			.autocomplete({
				source: function (request, response) {
					$.ajax({
						url: '/Member/Contact/FetchCity',
						dataType: "json",
						method: "GET",
						data: {
							SearchText: extractLast(request.term)
						},
						success: function (data) {
							console.log(data);
							response(data);
						}
					});
				},
				minLength: 2,
				change: function (event, ui) {
					/*if (!ui.item) {
						this.value = '';
						$(this).val('');
						$(this).prop('placeholder', "No Match Found");
					}*/
				},
				select: function (event, ui) {
					event.preventDefault();
					$(this).val(ui.item.label);
					$("#CityId").val(ui.item.value);
					if (ui.item.value != 0) {
						if (ui.item.label.indexOf("No Match Found") < 0) {

							$(this).val(ui.item.label);
							$("#CityId").val(ui.item.value);
						}
					}
					else {
						//this.value = '';
						$("#CityId").val("0");
					}
				},
				focus: function () {
					// prevent value inserted on focus
					return false;
				}
			}).autocomplete("instance")._renderItem = function (ul, item) {
				return $("<li>")
					.append("<div>" + item.label + "</div>")
					.appendTo(ul);
			};

	});

</script>