﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}
<script>
	$(document).ready(function () {

		if ('@TempData["Type"]' == '1') {
			MakeToast("1", '@TempData["Op_Message"]');

		} else if ('@TempData["Type"]' == '4'){
			MakeToast("3",' @TempData["Op_Message"]');

		}
	})

    function Importdata() {
        //debugger;
        //$("#wapper").block({ message: null });
        var fileInput1 = document.getElementById("ContactPath");
        var form = new FormData();
        form.append("ResponseDocument", fileInput1.files[0]);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Member/Contact/ImportContactDetail", true);
        xhr.send(form);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
				// $("#wapper").unblock();
				if (xhr.responseText == "Success") {
                   window.location = "/Member/Contact/Index"
                }
				else {
					window.location = "/Member/Contact/Index"

                }
            }

        }
    }


    function Exportalldata() {
        $('#exportall').submit();
    }
</script>
<section class="content p-2">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Contact</h3>
            <div class="float-right" style="margin-left:5px;">

                <a class="btn-sm btn-block btn-primary" href="@Url.Action("Download","Contact")">Sample File</a>
            </div>

            <div class="float-right" style="margin-left:10px;">
                <input type="button" class="btn-sm btn-block btn-primary" value="Import" onclick='OpenContactImportDialog("dlgImport")' />
            </div>
            <div class="float-right">
                <div>
                    <form id='exportall' method="post" action='@Url.Action("ExportAllContact", "Contact")'></form>
                    <input type="button" title="Export All" value="Export" class="btn-sm btn-block btn-primary" onclick="Exportalldata();" />

                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @Html.Partial("/Views/Shared/Common/_MessagePartial.cshtml")

            <div id="jsGrid1"></div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<div id="dlgImport">

</div>
<div id="dlgContact">

</div>
<script type="text/javascript">

	function CommonActions(element) {

		var id = element.id;
		var ActionType = $("#" + id).data("actiontype");

		var ContactId = $("#" + id).data("contactid");
		var ParentContactId = $("#" + id).data("parentcontactid");
		console.log(ContactId);
		console.log(ParentContactId);
		if (ActionType == "OpenContact") {
			OpenContactDialog(ContactId, ParentContactId, "dlgContact");
		}
		

	}
	function Delete(UniqueId) {
		$("#dialog-confirm").html("<p>Do you really want to delete the record?</p>")
		$("#dialog-confirm").dialog({
			resizable: false,
			title: "Confirmation",
			height: "auto",
			width: 400,
			modal: true,
			buttons: {
				"Yes": function () {

					$.ajax({
						url: "/Member/Calls/Delete",
						dataType: "json",
						data: { id: UniqueId }

					}).done(function (response) {
						if (response.IsSuccess == true) {
							$("#jsGrid1").jsGrid();
						}
						else {

						}


					});
					$(this).dialog("close");
				},
				Cancel: function () {
					$(this).dialog("close");
				}
			}
		});

	}


	$(document).ready(function () {
		$("#Industry").change(function () {
			//alert($('option:selected', this).val());
			$("#jsGrid1").jsGrid();
		});
		var tags = ["tag1", "tag2", "tag3"];
		var MyDateField = function (config) {
			jsGrid.Field.call(this, config);
		};
		MyDateField.prototype = new jsGrid.Field({
			sorter: function (date1, date2) {
				return new Date(date1) - new Date(date2);
			},
			_createTextBox: function (selected) {
				return $("<input>");
			},
			filterTemplate: function (value) {
				debugger
				if (!this.filtering)
					return "";
				var grid = this._grid;
				var $el = this.filterControl = this._createTextBox();
				var fieldConfig = this;


				$el.datepicker();


				if (this.autosearch) {
					$result.on("change", function (e) {
						grid.search();
					});
				}

				//return $result;
				return this.filterControl;
			},
			itemTemplate: function (value) {

				if (value != "" || value != null) {
					if (value) {
						var Output = formatDate(value, "ddmmyyy", '/')
						//return new Date(value).toDateString();
						return Output;
					}
					else {
						return "";
					}
				}
				else {
					return "";
				}
			},

			insertTemplate: function (value) {
				return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date(), dateFormat: "dd/MM/yy" });
			},

			editTemplate: function (value) {
				if (value != "") {

					return this._editPicker = $("<input>").datepicker({ dateFormat: "dd/MM/yy" }).datepicker("setDate", new Date(value));
				}
				else {
					return this._editPicker = $("<input>").datepicker({ defaultDate: new Date(), dateFormat: "dd/MM/yy" });
				}
			},

			insertValue: function () {
				if (this._insertPicker.val() == "") {
					return "";
				}
				else {
					//console.log(this._insertPicker.val());
					//return this._insertPicker.datepicker("getDate").toISOString();
					return this._insertPicker.val();
				}
			},

			editValue: function () {
				if (this._editPicker.val() == "" || this._editPicker.val() == null) {
					return "";
				}
				else {
					//return this._editPicker.datepicker("getDate").toISOString();
					return this._editPicker.val();
				}
			}
		});
		var myAutoCompleteField = function (config) {		
			jsGrid.Field.call(this, config);
		};
		myAutoCompleteField.prototype = new jsGrid.Field({
			autocompleteController: "",
			autocompleteMethod: "",
				autosearch: true,
			sorter: function (tag1, tag2) {
				return tag1.localeCompare(tag2);
			},
			itemTemplate: function (value) {
				 return '<span class="label label-primary">' + value + '</span>';
			},
			_createTextBox: function (selected) {
				return $("<input>");
			},
			_createAutoComplete: function (selected) {

				return $("<input>").autocomplete({
					source: function (request, response) {
						$.ajax({
							url: '/Member/Organization/FetchOrganization',
							dataType: "json",
							method: "GET",
							data: {
								SearchText: extractLast(request.term)
							},
							success: function (data) {
								console.log(data);
								response(data);
							}
						});
					},
					minLength: 2,
					change: function (event, ui) {
						/*if (!ui.item) {
							this.value = '';
							$(this).val('');
							$(this).prop('placeholder', "No Match Found");
						}*/
					},
					select: function (event, ui) {
						event.preventDefault();
						$(this).val(ui.item.text);

					},
					focus: function () {
						// prevent value inserted on focus
						return false;
					}
				}).autocomplete("instance")._renderItem = function (ul, item) {
					return $("<li>")
						.append("<div>" + item.text + "</div>")
						.appendTo(ul);
				};
			},
			filterTemplate: function (value) {
				if (!this.filtering)
					return "";
				//console.log(this);
				var grid = this._grid;
				var $el = this.filterControl = this._createTextBox();
				var fieldConfig = this;
				$el.autocomplete({
					source: function (request, response) {
						var ActionUrl = "/Member/" + fieldConfig.autocompleteController + "/" + fieldConfig.autocompleteMethod
						$.ajax({
							url: ActionUrl,
							dataType: "json",
							method: "GET",
							data: {
								SearchText: extractLast(request.term)
							},
							success: function (data) {
								response(data);
							}
						});
					},
					minLength: 2,
					change: function (event, ui) {

					},
					select: function (event, ui) {
						event.preventDefault();
						$(this).val(ui.item.label);

					},
					focus: function () {
						// prevent value inserted on focus
						return false;
					}

				})

					.autocomplete("instance")._renderItem = function (ul, item) {

						return $("<li>")
							.append("<div>" + item.label + "</div>")
							.appendTo(ul);
					};





				if (this.autosearch) {
					$el.on("change", function (e) {
						grid.search();
					});
				}

				//return $result;
				return this.filterControl;
			},
			insertTemplate: function (value) {
				var d = $.Deferred();
				if (!this.inserting)
					return "";
				var $el = this.insertControl = this._createTextBox();

				var fieldConfig = this;
				$el.autocomplete({
					source: function (request, response) {
						var ActionUrl = "/Member/" + fieldConfig.autocompleteController + "/" + fieldConfig.autocompleteMethod
						$.ajax({
							url: ActionUrl,
							dataType: "json",
							method: "GET",
							data: {
								SearchText: extractLast(request.term)
							},
							success: function (data) {
								response(data);
							}
						});
					},
					minLength: 2,
					change: function (event, ui) {

					},
					select: function (event, ui) {
						event.preventDefault();
						$(this).val(ui.item.label);

					},
					focus: function () {
						// prevent value inserted on focus
						return false;
					}

				}).autocomplete("instance")._renderItem = function (ul, item) {
					return $("<li>")
						.append("<div>" + item.label + "</div>")
						.appendTo(ul);
				};
				return this.insertControl;
			},

			editTemplate: function (value) {
				if (!this.editing)
					return "";
				var $el = this.editControl = this._createTextBox();
				var fieldConfig = this;
				$el.val(value);
				$el.autocomplete({
					source: function (request, response) {
						var ActionUrl = "/Member/" + fieldConfig.autocompleteController + "/" + fieldConfig.autocompleteMethod
						$.ajax({
							url: ActionUrl,
							dataType: "json",
							method: "GET",
							data: {
								SearchText: extractLast(request.term)
							},
							success: function (data) {
								response(data);

							}
						});
					},
					minLength: 2,
					change: function (event, ui) {

					},
					select: function (event, ui) {
						event.preventDefault();
						$(this).val(ui.item.label);
					},
					focus: function () {
						// prevent value inserted on focus
						return false;
					}

				}).autocomplete("instance")._renderItem = function (ul, item) {
					return $("<li>")
						.append("<div>" + item.label + "</div>")
						.appendTo(ul);
				};
				return this.editControl;
			},
			insertValue: function () {
				return this.insertControl.val();
			},
			editValue: function () {
				return this.editControl.val();
			},
			 filterValue: function() {
                  return this.filterControl.val();
            }
		});
		jsGrid.fields.myAutoComplete = myAutoCompleteField;
		jsGrid.fields.date = MyDateField;
		var rspCustomerType = [{ CustomerType: "Economic buyer", Id: "EC" },
		{ CustomerType: "Technical buyer", Id: "TB" },
		{ CustomerType: "Support", Id: "S" }, { CustomerType: "Coach", Id: "C" }, { CustomerType: "Anti Sponsor", Id: "A" }];

		$("#jsGrid1").jsGrid({
			height: "auto",
			width: "100%",
			filtering: true,
			editing: false,
			inserting: false,
			sorting: true,
			paging: true,
			autoload: true,
			pageSize: 15,
			pageButtonCount: 5,
			deleteConfirm: "Do you really want to delete the Call?",
			controller: {
				loadData: function (filter) {

					var d = $.Deferred();
					$.ajax({
						type: "GET",
						url: "/Member/Contact/GetContactList",
						dataType: "json",
						data: filter
					}).done(function (data) {
						console.log(data);
						d.resolve(data);
						if (data.IsSuccess == true) {
							MakeToast("1", data.Message);
						}
						else if (data.IsSuccess == false && data.IsErrorOccur == true) {
							MakeToast("3", data.Message);
						}

					});
					return d.promise();
				},
				insertItem: function (item) {
					var d = $.Deferred();

					return d.promise();
				},
				updateItem: function (item) {
					var d = $.Deferred();

					return d.promise();
				},
				deleteItem: function (item) {
					var d = $.Deferred();
					$.ajax({
						type: "POST",
						url: "/Member/Contact/Delete/" + item.Id,
						dataType: "json"
					}).done(function (data) {
						//console.log("done:" + JSON.stringify(data));

						if (data.IsSuccess == true) {
							MakeToast("1", data.Message);
						}
						else if (data.IsSuccess == false && data.IsErrorOccur == true) {
							MakeToast("3", data.Message);
						}
						else {
							MakeToast("2", data.Message);
						}
						d.resolve(data.Data);
					}).fail(function (msg) {
						//	console.log("fail" + msg);
						d.reject();
					});
					return d.promise();
				}
			},
			rowClass: function (item, itemIndex) {
				return "row_" + itemIndex;
			},
			fields: [
				//{ name: "UsergroupId", type: "number", width: 50, align: "center", filtering: false },
				{ type: "control", modeSwitchButton: false, editButton: false, width: 20},
			 {
                    name: "Id", type: "text", title: "Edit", width: 30, align: "center", filtering: false,
                    itemTemplate: function (value, item) {
                      //  $OnClickEvent = "@Url.Action("ManageAnnouncement","Announcement")" + "/" + item.Id;
						$OnClickEvent = "CommonActions(this);";
                        $PaidClass = "fas fa-pencil-alt";
						$PaidButton = $("<a>")
							.attr({ id: "action_" + item.Id })
							//.attr({ href: $OnClickEvent })
							.attr("data-ContactId", item.Id)
							.attr("data-ParentContactId", item.ParentContactId)
							.attr("data-actiontype", "OpenContact")
							.attr({ onclick: $OnClickEvent })
                        .attr({ title: "Edit Contact" })
                            .append($("<i>").attr({ class: $PaidClass }));
                        return $("<div>").append($PaidButton)
                    }
                },
				{
					name: "OrganisationName", title: "Organization", type: "myAutoComplete", width: 130, align: "center", css: "orglist", autocompleteController: "Organization", autocompleteMethod: "FetchOrganization",filtering: true, validate: {
						validator: "required",
						message: function (value, item) {
							return "Organization Required.";
						}
					}

				},
				{
					name: "FirstName", title: "Name", width: 130, align: "center", css: "contactlist", type: "myAutoComplete", autocompleteController: "Contact", autocompleteMethod: "FetchContact",filtering: true, validate: {
						validator: "required",
						message: function (value, item) {
							return "Name Required.";
						}
					}
				},{
					name: "LastName", title: "Last Name", width: 130, align: "center", css: "insLastName", type: "myAutoComplete", autocompleteController: "Contact", autocompleteMethod: "FetchLastName",filtering: true, validate: {
						validator: "required",
						message: function (value, item) {
							return "Name Required.";
						}
					}
				},
				{
					name: "PrimaryPhoneNo", title: "Phone1", type: "text", width: 100, align: "center",filtering: true, validate: {
						validator: "required",
						message: function (value, item) {
							return "Phone1 Required.";
						}
					}
				},
				{ name: "Extn", title: "Extn", type: "text", width: 50, align: "center" },
				{
					name: "Designation", title: "Designation", width: 110, align: "center", css: "designationtlist", type: "myAutoComplete", autocompleteController: "Designation", autocompleteMethod: "FetchDesignation",filtering: true, validate: {
						validator: "required",
						message: function (value, item) {
							return "Designation Required.";
						}
					}
				},

				{
					name: "CityName", title: "City", width: 80, align: "center", css: "citylist", type: "myAutoComplete", autocompleteController: "Contact", autocompleteMethod: "FetchCity",filtering: true, validate: {
						validator: "required",
						message: function (value, item) {
							return "City Required.";
						}
					}
				},

				//{ name: "GroupType", type: "select", items: GroupTypes, valueField: "Name", textField: "Name", width: 50, align: "center", sorting: false },
				//{
				//	name: "IsActive", type: "checkbox", title: "Done", align: "center", validate: "required", filtering: false, editing: true, inserting: true, sorting: false, width: 70

				//}

			]
		});
		$('#jsGrid1').closest('.jsgrid')
			.find('.jsgrid-grid-header .jsgrid-table .jsgrid-filter-row .jsgrid-cell')
			.find('input, select')
			.focus(function (e) {
				var $header = $(e.target).closest('.jsgrid-grid-header');
				$body = $header.siblings('.jsgrid-grid-body');

				setTimeout(function () {

					//	$body[0].scrollLeft = $header[0].scrollLeft;

					$(".jsgrid-grid-body").scrollLeft($header[0].scrollLeft);
				}, 0);
			});
		/*$(".jsgrid-insert-row .orglist input")
			.bind("keydown", function (event) {

				if (event.keyCode == 188) {
					$(this).val('');
					event.preventDefault();
				}
				if (event.keyCode === $.ui.keyCode.TAB &&
					$(this).data("ui-autocomplete").menu.active) {
					event.preventDefault();
				}

			})
			.autocomplete({
				source: function (request, response) {

					var d1 = $.Deferred();
					$.ajax({
						url: '/Member/Organization/FetchOrganization',
						dataType: "json",
						method: "GET",
						data: {
							SearchText: extractLast(request.term)
						},
						success: function (data) {
							responseData = data;
							var Result = [];
							console.log(data);
							data.forEach(function (d) { Result.push(d.label); });

							response(Result);
							d1.resolve(Result);
							return d1.promise();
						}
					});
					//d.promise();
				},
				minLength: 2,
				change: function (event, ui) {

				},
				select: function (event, ui) {
					event.preventDefault();
					$(this).val(ui.item.text);

				},
				focus: function () {
					// prevent value inserted on focus
					return false;
				}

			}).autocomplete("instance")._renderItem = function (ul, item) {
				return $("<li>")
					.append("<div>" + item + "</div>")
					.appendTo(ul);
			};*/
	});
</script>