﻿@model IEnumerable<CRMModel.CustomEntity.SP_Select_Call>
@{
    Layout = null;
}

@if (Model != null  && Model.ToList().Count > 0)
{
    <table class="table table-bordered m-0 " id="callhistorytable">
        <thead>
            <tr>

                <th>Call Date</th>
                <th>Call Type</th>
                <th>Meeting Type</th>
                <th>Days</th>
                <th>Remark</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>

                    <td>@item.CallDate</td>
                    <td>@item.CallType</td>
                    <td>@item.MeetingType</td>
                    <td>@item.DaysPassed</td>
                    <td>@item.CallRemark</td>

                </tr>
            }

        </tbody>
    </table>
}
<script>
    $(function () {
        $("#callhistorytable").DataTable({
            "responsive": true,
            "autoWidth": true,
            "ordering": false,
            "searching": false,
            "paging": false,
            "info": false
        });
    });
</script>