﻿@model CRMModel.ViewModel.CallDetails_mdl
@using CRMUtility;
@{
    //Layout = "";
    int ConatctCount = 0, ProductCount = 0;
    if (Model.Contacts != null)
    {
        ConatctCount = Model.Contacts.Count();
    }
    if (Model.Products != null)
    {
        ProductCount = Model.Products.Count();
    }
}
<section class="content p-2">
    <div class="card">
        <div class="card-header ">
            <h3 class="card-title">Contact Details</h3>
            @if (ConatctCount < 3)
            {
                <div class="float-right">
                    <a class="btn-sm btn-block btn-primary" title="Add Contact" onclick='OpenContactDialog(0,@Model.LastCall.ContactId,"dlgContact");'>
                        <i class="fa fa-plus-square "></i>
                    </a>
                </div>
            }
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @using (Html.BeginForm("CallDetails", "Calls", FormMethod.Post, new { id = "frmCallDetails" }))
            {
                @Html.HiddenFor(model => model.LastCall.LastCallHistoryId)
                @Html.HiddenFor(model => model.LastCall.ContactId, new { id = "hdnLastCallContactId" })
                @Html.HiddenFor(model => model.LastCall.CallId, new { id = "hdnLastCallCallId" })
                <div id="contactList">
                    @Html.Partial("~/Areas/Member/Views/Contact/_ContactDetails.cshtml", Model.Contacts)
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Contact 1 Type <span class="text-danger">*</span></label>
                            @Html.DropDownListFor(model => model.LastCall.CustomerTypeId, new SelectList(ViewBag.CustomerTypeList, "Id", "CustomerType", Model.LastCall.CustomerTypeId), "Select", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <label>Product Details</label>
                        @if (ProductCount < 4)
                        {
                            <div class="float-right">
                                <a href="#" class="btn-sm btn-block btn-primary" title="Add Product" onclick='OpenProductDialog(0,@Model.LastCall.ContactId,@Model.LastCall.CallId,"dlgProduct")'>
                                    <i class="fa fa-plus-square "></i>
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <hr />
                <div id="poductDetails">
                    @Html.Partial("~/Areas/Member/Views/Product/_ContactProductDetails.cshtml", Model.Products)
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <label>Call Details</label>
                        <div class="float-right">
                            <a href="#" class="btn-sm btn-block btn-primary" title="Show CallDetail" onclick='OpenCallHistoryDialog(0,@Model.LastCall.ContactId,@Model.LastCall.CallId,"dlgCalldetail")'>
                                <i class="fa fa-plus-square "></i>
                            </a>
                        </div>
                    </div>
                </div>
                <hr />

                Model.LastCall.CallDate = "";
                Model.LastCall.MeetingTypeId = 0;
                Model.LastCall.CallTypeId = 0;
                Model.LastCall.DaysPassed = 0;
                Model.LastCall.NextCallDate = "";
                Model.LastCall.CallRemark = "";

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <span>Call Date <span class="text-danger">*</span></span>
                            @Html.TextBoxFor(model => model.LastCall.CallDate, new { @class = "form-control", autocomplete = "off", @onchange  = "DayCounter();" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <span>Meeting Type <span class="text-danger">*</span></span>
                            @Html.DropDownListFor(model => model.LastCall.MeetingTypeId, new SelectList(ViewBag.MeetingTypeList, "Id", "MeetingType", Model.LastCall.MeetingTypeId), "Select", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <span>Call Type <span class="text-danger">*</span></span>
                            @Html.DropDownListFor(model => model.LastCall.CallTypeId, new SelectList(ViewBag.CallTypeList, "Id", "CallType", Model.CallTypeId), "Select", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <span>Days</span>
                            <span class="form-control" id="daypass">@Model.LastCall.DaysPassed</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <span>Next Date</span>
                            @Html.TextBoxFor(model => model.LastCall.NextCallDate, new { @class = "form-control", autocomplete = "off", @onchange = "DayCounter();" })
                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="icheck-primary mrg-top">
                                @Html.CheckBoxFor(model => model.LastCall.IsCallNotReceived, new { id = "IsCallNotReceived" })
                                <span for="IsCallNotReceived">
                                    No Response

                                </span>

                                <a data-toggle="tooltip" data-placement="bottom" title="@Model.LastCall.MissCallHistory"><i class="fas fa-history"></i></a>
                            </div>



                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <span>Remark</span>
                            @Html.TextAreaFor(model => model.LastCall.CallRemark, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
        <!-- /.card-body -->
    </div>

</section>

<div id="dlgProduct">

</div>
<div id="dlgContact">

</div>
<div id="dlgCalldetail">

</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $("#LastCall_CallDate").datepicker({ dateFormat: "dd/M/yy" });
        $("#LastCall_NextCallDate").datepicker({ dateFormat: "dd/M/yy" });


    });
    function DayCounter() {
        if ($("#LastCall_CallDate").val() != '' && $("#LastCall_NextCallDate").val() != '') {
            var startdate = formatDate($("#LastCall_CallDate").val());
            var Enddate = formatDate($("#LastCall_NextCallDate").val());
            var dt1 = new Date(startdate);
            var dt2 = new Date(Enddate);
            daysDiff = Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) - Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate()) ) /(1000 * 60 * 60 * 24));;
            $("#daypass").html(daysDiff);
        }
    }
</script>