﻿@using CRMBAL
@using CRMModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";

}
@{
    var CustomerTypes = Contact_BAL.GetCustomerTypes();
}

<section class="content p-2">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Call</h3>
            <div class="float-right">
                @*<a href="#" class="btn-sm btn-block btn-primary">
                        <i class="fa fa-plus-square "></i>
                    </a>*@
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @Html.Partial("/Views/Shared/Common/_MessagePartial.cshtml")
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Industry</label>
                        @Html.DropDownList("Industry", new SelectList(ViewBag.IndustryList, "Id", "IndustryType"), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div id="jsGrid1"></div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
<div id="dialog-confirm">

</div>

<script type="text/javascript">
	function GetContactData(id,ele) {
		var Url = window.location.origin;
		//console.log(ele);
		$.ajax({
			url: "/Member/Contact/GetContactDetails/" + id,
			type: 'GET',
			dataType: "json",
			data: {},
			success: function (data) {
				console.log(data);
				if (data.FirstName != "") {
					var middlename = "", lastname = "";

					if (data.LastName != null) {
						lastname = data.LastName;
					}
					var patientName = data.FirstName + " " + middlename + " " + lastname;

					if (ele == "Insert") {
						$(".jsgrid-insert-row .insLastName input").val(data.LastName);
						$(".jsgrid-insert-row .insPhone1 input").val(data.PrimaryPhoneNo);
						$(".jsgrid-insert-row .insExtn input").val(data.Extn);
						$(".jsgrid-insert-row .insDesignation input").val(data.Designation);
						$(".jsgrid-insert-row .insCity input").val(data.CityName);

					}
					//$("#PatientName").val(patientName);
				}

				//$(".input-validation-error,.valid").valid();
			}
		});
	}
	function CommonActions(element) {

		var id = element.id;
		var ActionType = $("#" + id).data("actiontype");
		console.log(ActionType);
		var CallId = $("#" + id).data("callid");
		if (ActionType == "OpenCall") {
			/*$("#dialog-details").load("/Member/Calls/CallDetails", function () {
				OpenDialogWindow("dialog-details", "Call Details", "U", "", 500, 1000, {});
			});*/
			//window.location = '/Member/Calls/CallDetails/' + CallId;
		}
		else if (ActionType == "MissCall") {
			$.ajax({
				url: "/Member/Calls/CommonAction",
				dataType: "json",
				method: "POST",
				data: { ActionType: ActionType, RefrenceId: CallId }

			}).done(function (response) {

				if (response.IsSuccess == true) {
					MakeToast("1", "Success");

				}
				else if (response.IsSuccess == false && response.IsErrorOccur == true) {
					MakeToast("3", response.Message);
				}
				else {
					MakeToast("2", response.Message);
				}
				$("#jsGrid1").jsGrid();
			});
		}
		/*$("#dialog-confirm").dialog({
			resizable: false,
			title: "Call Details",
			height: "auto",
			width: 400,
			modal: true,
			buttons: {

			}
		});*/
	}
	function Delete(UniqueId) {
		$("#dialog-confirm").html("<p>Do you really want to delete the record?</p>")
		$("#dialog-confirm").dialog({
			resizable: false,
			title: "Confirmation",
			height: "auto",
			width: 400,
			modal: true,
			buttons: {
				"Yes": function () {

					$.ajax({
						url: "/Member/Calls/Delete",
						dataType: "json",
						data: { id: UniqueId }

					}).done(function (response) {
						if (response.IsSuccess == true) {
							$("#jsGrid1").jsGrid();
						}
						else {

						}


					});
					$(this).dialog("close");
				},
				Cancel: function () {
					$(this).dialog("close");
				}
			}
		});

	}


	$(document).ready(function () {
		if ('@Session["IndustryId"]' != '0' &&'@Session["IndustryId"]'!=='') {
			$('#Industry').val('@Session["IndustryId"]');
			$('#Industry').trigger("change");
		}
		$("#Industry").change(function () {
			//alert($('option:selected', this).val());
			$("#jsGrid1").jsGrid();
		});
		var tags = ["tag1", "tag2", "tag3"];
		var MyDateField = function (config) {
			jsGrid.Field.call(this, config);
		};
		MyDateField.prototype = new jsGrid.Field({

			sorter: function (date1, date2) {
				return new Date(date1) - new Date(date2);
			},
			_createTextBox: function (selected) {
				return $("<input>");
			},
			filterTemplate: function (value) {
				if (!this.filtering)
					return "";
				var grid = this._grid;
				var $el = this.filterControl = this._createTextBox();
				var fieldConfig = this;


				$el.datepicker();


				if (this.autosearch) {
					$result.on("change", function (e) {
						grid.search();
					});
				}

				//return $result;
				return this.filterControl;
			},
			itemTemplate: function (value) {

				if (value != "" || value != null) {
					if (value) {
						var Output = formatDate(value, "ddMMyyy", '/')
						//return new Date(value).toDateString();
						return Output;
					}
					else {
						return "";
					}
				}
				else {
					return "";
				}

           // return (value)

			},

			insertTemplate: function (value) {
				return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date(), dateFormat:"dd/M/yy" });
			},

			editTemplate: function (value) {
				if (value != "") {

					return this._editPicker = $("<input>").datepicker({ dateFormat: "dd/M/yy" }).datepicker("setDate", new Date(value));
				}
				else {
					return this._editPicker = $("<input>").datepicker({ defaultDate: new Date(), dateFormat: "dd/M/yy" });
				}
			},

			insertValue: function () {
				if (this._insertPicker.val() == "") {
					return "";
				}
				else {
					//console.log(this._insertPicker.val());
					//return this._insertPicker.datepicker("getDate").toISOString();
					return this._insertPicker.val();
				}
			},

			editValue: function () {
				if (this._editPicker.val() == "" || this._editPicker.val() == null) {
					return "";
				}
				else {
					//return this._editPicker.datepicker("getDate").toISOString();
					return this._editPicker.val();
				}
			}
		});
		var myAutoCompleteField = function (config) {
			jsGrid.Field.call(this, config);
		};
		myAutoCompleteField.prototype = new jsGrid.Field({
			autocompleteController: "",
			autocompleteMethod: "",
			autosearch: true,
			sorter: function (tag1, tag2) {
				return tag1.localeCompare(tag2);
			},
			itemTemplate: function (value) {
				 return '<span class="label label-primary">' + value + '</span>';
			},
			_createTextBox: function (selected) {
				return $("<input>");
			},
			_createAutoComplete: function (selected) {

				return $("<input>").autocomplete({
					source: function (request, response) {
						$.ajax({
							url: '/Member/Organization/FetchOrganization',
							dataType: "json",
							method: "GET",
							data: {
								SearchText: extractLast(request.term)
							},
							success: function (data) {
								console.log(data);
								response(data);
							}
						});
					},
					minLength: 2,
					change: function (event, ui) {
						/*if (!ui.item) {
							this.value = '';
							$(this).val('');
							$(this).prop('placeholder', "No Match Found");
						}*/
					},
					select: function (event, ui) {
						event.preventDefault();
						$(this).val(ui.item.text);

					},
					focus: function () {
						// prevent value inserted on focus
						return false;
					}
				}).autocomplete("instance")._renderItem = function (ul, item) {
					return $("<li>")
						.append("<div>" + item.text + "</div>")
						.appendTo(ul);
				};
			},
			filterTemplate: function (value) {
				if (!this.filtering)
					return "";
				//console.log(this);
				var grid = this._grid;
				var $el = this.filterControl = this._createTextBox();
				var fieldConfig = this;
				$el.autocomplete({
					source: function (request, response) {
						var ActionUrl = "/Member/" + fieldConfig.autocompleteController + "/" + fieldConfig.autocompleteMethod
						$.ajax({
							url: ActionUrl,
							dataType: "json",
							method: "GET",
							data: {
								SearchText: extractLast(request.term)
							},
							success: function (data) {
								response(data);
							}
						});
					},
					minLength: 2,
					change: function (event, ui) {

					},
					select: function (event, ui) {
						event.preventDefault();
						$(this).val(ui.item.label);
					},
					focus: function () {
						// prevent value inserted on focus
						return false;
					}

				})
                   .autocomplete("instance")._renderItem = function (ul, item) {

						return $("<li>")
							.append("<div>" + item.label + "</div>")
							.appendTo(ul);
					};

              	if (this.autosearch) {
					$el.on("change", function (e) {
						grid.search();
					});
				}

				//return $result;
				return this.filterControl;
			},
			insertTemplate: function (value) {
				var d = $.Deferred();
				if (!this.inserting)
					return "";
				var $el = this.insertControl = this._createTextBox();

				var fieldConfig = this;
				$el.autocomplete({
					source: function (request, response) {
						var ActionUrl = "/Member/" + fieldConfig.autocompleteController + "/" + fieldConfig.autocompleteMethod
						$.ajax({
							url: ActionUrl,
							dataType: "json",
							method: "GET",
							data: {
								SearchText: extractLast(request.term)
							},
							success: function (data) {
								response(data);
							}
						});
					},
					minLength: 2,
					change: function (event, ui) {

					},
					select: function (event, ui) {
						event.preventDefault();

						$(this).val(ui.item.label);
						if (fieldConfig.autocompleteMethod == "FetchContact") {
							GetContactData(ui.item.value, "Insert");
						}
					},
					focus: function () {
						// prevent value inserted on focus
						return false;
					}

				}).autocomplete("instance")._renderItem = function (ul, item) {
							return $("<li>")
								.append("<div>" + item.label + "</div>")
								.appendTo(ul);
				};
				return this.insertControl;
			},

			editTemplate: function (value) {
				if (!this.editing)
					return "";
				var $el = this.editControl = this._createTextBox();
				var fieldConfig = this;
				$el.val(value);
				$el.autocomplete({
					source: function (request, response) {
						var ActionUrl = "/Member/" + fieldConfig.autocompleteController + "/" + fieldConfig.autocompleteMethod
						$.ajax({
							url: ActionUrl,
							dataType: "json",
							method: "GET",
							data: {
								SearchText: extractLast(request.term)
							},
							success: function (data) {
								response(data);
							}
						});
					},
					minLength: 2,
					change: function (event, ui) {

					},
					select: function (event, ui) {
						event.preventDefault();
						$(this).val(ui.item.label);
					},
					focus: function () {
						// prevent value inserted on focus
						return false;
					}

				}).autocomplete("instance")._renderItem = function (ul, item) {
						return $("<li>")
							.append("<div>" + item.label + "</div>")
							.appendTo(ul);
				};
				return this.editControl;
			},
			insertValue: function () {
				return this.insertControl.val();
			},
			editValue: function () {
				return this.editControl.val();
			},
			 filterValue: function() {
                  return this.filterControl.val();
            }
		});
		jsGrid.fields.myAutoComplete = myAutoCompleteField;
		jsGrid.fields.date = MyDateField;
		var rspCustomerType = [{ CustomerType: "Economic buyer", Id: "EC" },
			{ CustomerType: "Technical buyer", Id: "TB" },
			{ CustomerType: "Support", Id: "S" }, { CustomerType: "Coach", Id: "C" }, { CustomerType: "Anti Sponsor", Id: "A" }];

		$("#jsGrid1").jsGrid({
			height: "auto",
			width: "100%",
			filtering: true,
			editing: true,
			inserting: true,
			sorting: true,
			paging: true,
			autoload: true,
			pageSize: 15,
			pageButtonCount: 5,
			deleteConfirm: "Do you really want to delete the Call?",
			controller: {
				loadData: function (filter) {
					var d = $.Deferred();
					$.ajax({
						type: "GET",
						url: "/Member/Calls/GetCallList/" + $("#Industry option:selected").val(),
						dataType: "json",
						data: filter
					}).done(function (response) {

						d.resolve(response);
						if (response.IsSuccess == true) {
									MakeToast("1", response.Message);
								}
								else if (response.IsSuccess == false && response.IsErrorOccur == true) {
									MakeToast("3", response.Message);
								}

					});
					return d.promise();
				},
				insertItem: function (item) {
					var d = $.Deferred();
					//console.log(item);

						item.IndustryType = $("#Industry option:selected").text();
						//console.log(item);
					$.ajax({
						type: "POST",
						url: "/Member/Home/VerifyUserAllowToPerformAction/",
						data: { ActionType: '@En_RestrictionKey.Call.ToString()', RefrenceId: $("#Industry option:selected").val() },
						dataType: "json"
					}).done(function (data) {
						if (data.IsAllowed) {
							$.ajax({
								type: "POST",
								url: "/Member/Calls/ManageCall/",
								data: { mdl: item, IndustryTypeId: $("#Industry option:selected").val() },
								dataType: "json"
							}).done(function (data) {
								if (data.IsSuccess == true) {
									MakeToast("1", data.Message);
								}
								else if (data.IsSuccess == false && data.IsErrorOccur == true) {
									MakeToast("3", data.Message);
								}
								else {
									MakeToast("2", data.Message);
								}
								//console.log("done:" + JSON.stringify(data));
								d.resolve(data.Data);
							}).fail(function (data) {
								//	console.log("fail" + msg);
								d.reject();
							});
						}
						else {
							MakeToast("3", "You have reached your limit please contact to administrator.");
							d.reject();
						}
					}).fail(function (data) {

						});




					return d.promise();
				},
				updateItem: function (item) {
					var d = $.Deferred();
					$.ajax({
						type: "POST",
						url: "/Member/Calls/ManageCall/",
						data: { mdl: item, IndustryTypeId: $("#Industry option:selected").val() },
						dataType: "json"
					}).done(function (data) {
						//console.log("done:" + JSON.stringify(data));
						if (data.IsSuccess == true) {
							MakeToast("1", data.Message);
						}
						else if (data.IsSuccess == false && data.IsErrorOccur == true) {
							MakeToast("3", data.Message);
						}
						else {
							MakeToast("2", data.Message);
						}
						//console.log(data);
						d.resolve(data.Data);
					}).fail(function (msg) {
						//	console.log("fail" + msg);
							MakeToast("2", msg);
						d.reject();
					});
					return d.promise();
				},
				deleteItem: function (item) {
					var d = $.Deferred();
					$.ajax({
						type: "POST",
						url: "/Member/Calls/Delete/" + item.CallId,
						dataType: "json"
					}).done(function (data) {
						//console.log("done:" + JSON.stringify(data));

						if (data.IsSuccess == true) {
							MakeToast("1", data.Message);
						}
						else if (data.IsSuccess == false && data.IsErrorOccur == true) {
							MakeToast("3", data.Message);
						}
						else {
							MakeToast("2", data.Message);
						}
						d.resolve(data.Data);
					}).fail(function (msg) {
							MakeToast("2", msg);
						d.reject();
					});
					return d.promise();
				}
			},
			rowClass: function (item, itemIndex) {
				return "row_" + itemIndex;
			},
			fields: [
				//{ name: "UsergroupId", type: "number", width: 50, align: "center", filtering: false },
				{ type: "control" },
				{
					name: "OrganisationName", title: "Organization", type: "myAutoComplete", width: 100, align: "center", css: "orglist", autocompleteController: "Organization", filtering: true,autocompleteMethod: "FetchOrganization", validate: {
						validator: "required",
						message: function (value, item) {
							return "Organization Required.";
						}
					}

				},
				{
					name: "FirstName", title: "First Name", width: 90, align: "center", css: "contactlist", type: "myAutoComplete", autocompleteController: "Contact", autocompleteMethod: "FetchContact",filtering: true, validate:{validator: "required",
					message: function (value, item) {
						return "Name Required.";
					}
					}
				},
				{
					name: "LastName", title: "Last Name", width: 90, align: "center", css: "insLastName", type: "myAutoComplete", autocompleteController: "Contact", autocompleteMethod: "FetchLastName",filtering: true, validate:{validator: "required",
					message: function (value, item) {
						return "Last Name Required.";
					}
					}
				},
				{
					name: "PrimaryPhoneNo", title: "Phone1", type: "text", width: 80, align: "center", css:"insPhone1",filtering: false, editing: false, validate: {
						validator: "required",
						message: function (value, item) {
							return "Phone1 Required.";
						}
					}
				},
				//{ name: "Extn", title: "Extn", type: "text", width: 50, align: "center", css: "insExtn" },
				{
					name: "Designation", title: "Designation", width: 90, align: "center", css: "designationtlist insDesignation",filtering: false, type: "myAutoComplete", autocompleteController: "Designation", autocompleteMethod: "FetchDesignation", validate: {
						validator: "required",
						message: function (value, item) {
							return "Designation Required.";
						}
					} },
				{
					name: "ProductName", title: "Product Type", width: 100, align: "center", css: "productlist",filtering: false, type: "myAutoComplete", autocompleteController: "Product", autocompleteMethod: "FetchProduct", validate: {
						validator: "required",
						message: function (value, item) {
							return "Product Type Required.";
						}
					} },
				{
					name: "CityName", title: "City", width: 70, align: "center", css: "citylist insCity",filtering: false, type: "myAutoComplete", autocompleteController: "Contact", autocompleteMethod: "FetchCity", validate: {
						validator: "required",
						message: function (value, item) {
							return "City Required.";
						}
					} },
				{ name: "DaysPassed", title: "Days", type: "text", filtering: false, editing: false, inserting: false, width: 40, align: "center" },
				{
					name: "NextCallDate", title: "Next Date", type: "date", filtering: false, editing: true, width: 80, align: "center"
					/*,validate: {
						validator: "required",
						message: function (value, item) {
							return "Next Date Required.";
						}
					}*/
				},
				//{ name: "GroupType", type: "select", items: GroupTypes, valueField: "Name", textField: "Name", width: 50, align: "center", sorting: false },
				{
					name: "IsActive", type: "checkbox", title: "Done", align: "center", validate: "required", filtering: false, editing: true, inserting: true, sorting: false,width: 45

				},
				{
					name: "IsActive", type: "text", title: "", width: 30, align: "center", filtering: false, editing: false, inserting: false,
					itemTemplate: function (value, item) {
						$textColor = "text-gray";

						$OnClickEvent = "CommonActions(this);";

						$PaidClass = "fas fa-plus-square " + $textColor;



						$PaidButton = $("<a>")
							//.attr({ class: $DisableClass })
							.attr({ id: "action_" + item.LastCallHistoryId })
							.attr("data-callid", item.LastCallHistoryId)
							.attr("data-actiontype", "OpenCall")

							.attr({ onclick: "window.location='/Member/Calls/CallDetails/" + item.CallId + "'"  })
							//.attr({ onclick: "CommonActions" + "('" + item.UserId + "','" + item.IsPaid + "','" + "IsPaid" + "')" })
							//.attr({ class:"btn btn-info"})
							.attr({ title: "Call Detail" })
							.append($("<i>").attr({ class: $PaidClass }));
						//$PaidButton = $PaidButton.attr({ class: $DisableClass })
						return $("<div>").append($PaidButton)
					}
				},
				{
					name: "IsCallNotReceived", type: "text", title: "", width: 45, align: "center", filtering: false, editing: false, inserting: false,
					itemTemplate: function (value, item) {
						$textColor = "text-gray";
						if (item.IsCallNotReceived == true) {
							$textColor = "text-success";
						}
						$OnClickEvent = "CommonActions(this);";
						$PaidClass = "fas fa-phone-slash " + $textColor;
						$PaidButton = $("<a>")
							//.attr({ class: $DisableClass })
							.attr({ id: "action_MissCall_" + item.LastCallHistoryId })
							.attr("data-CallId", item.CallId)
							.attr("data-actiontype", "MissCall")

							.attr({ onclick: $OnClickEvent })
							//.attr({ onclick: "CommonActions" + "('" + item.UserId + "','" + item.IsPaid + "','" + "IsPaid" + "')" })
							//.attr({ class:"btn btn-info"})
							.attr({ title: item.MissCall })
							.append($("<i>").attr({ class: $PaidClass }));
						//$PaidButton = $PaidButton.attr({ class: $DisableClass })
						return $("<div>").append($PaidButton)
					}
				}

			]
		});
		$('#jsGrid1').closest('.jsgrid')
			.find('.jsgrid-grid-header .jsgrid-table .jsgrid-filter-row .jsgrid-cell')
			.find('input, select')
			.focus(function (e) {
				var $header = $(e.target).closest('.jsgrid-grid-header');
				$body = $header.siblings('.jsgrid-grid-body');

				setTimeout(function () {

					//	$body[0].scrollLeft = $header[0].scrollLeft;

					$(".jsgrid-grid-body").scrollLeft($header[0].scrollLeft);
				}, 0);
			});

	});

</script>
<div id="dialog-details">

</div>
<div id="dlgContact">

</div>
