﻿@using CRMUtility;
  <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="@Url.Action("Index","Calls",new { area="Member"})" class="brand-link">
		<img src="~/Content/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
			 style="opacity: .8">
		<span class="brand-text font-weight-light">Turant Sales</span>
	</a>
	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
				<a href="#" class="d-block">@UserSession.UserName</a>
			</div>
		</div>
		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
	with font-awesome or any other icon font library -->
				<li class="nav-item">
					<a href="@Url.Action("Index","Calls",new { area="Member"})" class="nav-link">
						<i class="nav-icon fas fa-phone-alt"></i>
						<p>
							Call Details

						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="@Url.Action("Index","Contact",new { area="Member"})" class="nav-link">
						<i class="nav-icon fas fa-address-book"></i>
						<p>
							Contact

						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link ">
						@*<i class="fas fa-list-alt"></i>*@
						<i class="nav-icon fas fa-list-alt"></i>
						<p>
							Master
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="@Url.Action("Index","Organization",new { area="Member"})" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Organization</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index","Designation",new { area="Member"})" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Designation</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index","City",new { area="Member"})" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>City</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index","Product",new { area="Member"})" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Product</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index","Industry",new { area="Member"})" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Industry</p>
							</a>
						</li>



					</ul>
				</li>

				@*<li class="nav-item">
			<a href="@Url.Action("Index","Industry",new { area="Member"})" class="nav-link">
				<i class="nav-icon fas fa-th"></i>
				<p>
					Industry

				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="@Url.Action("Index","Organization",new { area="Member"})" class="nav-link">
				<i class="nav-icon fas fa-th"></i>
				<p>
					Organization

				</p>
			</a>
		</li>*@

			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>
