﻿@using Microsoft.AspNet.Identity
@using CRMUtility;
@if (Request.IsAuthenticated)
{
    <li class="nav-item dropdown user-menu">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <img src="~/Content/dist/img/user2-160x160.jpg" class="user-image img-circle elevation-2" alt="User Image">
            <span class="d-none d-md-inline">@UserSession.UserName</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <!-- User image -->
            <li class="user-header bg-primary">
                <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                <p>

                    @User.Identity.GetUserName()
                    @*<small>Member since Nov. 2012</small>*@
                </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body" style="display:none !important;">
                <div class="row">
                    <div class="col-4 text-center">
                        <a href="#">Followers</a>
                    </div>
                    <div class="col-4 text-center">
                        <a href="#">Sales</a>
                    </div>
                    <div class="col-4 text-center">
                        <a href="#">Friends</a>
                    </div>
                </div>
                <!-- /.row -->
            </li>
            <!-- Menu Footer-->

            <li class="user-footer">
                @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <a href="@Url.Action("ChangePassword","Manage",new { area=""})" class="btn btn-default btn-flat">Change Password</a>
                    @*<a asp-area="Identity" asp-page="/Account/Logout" class="btn btn-default btn-flat float-right">Sign out</a>*@
                    <button type="submit" class="btn btn-default btn-flat float-right">Sign out</button>
                }
            </li>

        </ul>
    </li>
}
