﻿@{
	int durationInSeconds = ((System.Web.HttpContext.Current.Session.Timeout * 60));
	//durationInSeconds = 60;
	int durationInMicroSeconds = (durationInSeconds - (3 * 60)) * 1000;
	if (Session["UserId"]==null || Session["UserId"].ToString()=="0")
    {
        durationInMicroSeconds = 0;
    }
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewBag.Title</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Tempusdominus Bbootstrap 4 -->
	<link rel="stylesheet" href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
	<!-- iCheck -->
	<link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
	<!-- JQVMap -->
	<link rel="stylesheet" href="~/Content/plugins/jqvmap/jqvmap.min.css">
	<link rel="stylesheet" href="~/Content/plugins/jquery-ui/jquery-ui.css" />
	<!-- jsGrid -->
	<link rel="stylesheet" href="~/Content/plugins/jsgrid/jsgrid.min.css" />
	<link rel="stylesheet" href="~/Content/plugins/jsgrid/jsgrid-theme.min.css" />
	<link rel="stylesheet" href="~/Content/plugins/select2/css/select2.min.css" />
	<link rel="stylesheet" href="~/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
	<!-- Theme style -->
	<link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
	<!-- overlayScrollbars -->
	<link rel="stylesheet" href="~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
	<!-- Daterange picker -->
	<link rel="stylesheet" href="~/Content/plugins/daterangepicker/daterangepicker.css">
	<!-- summernote -->
	@*<link rel="stylesheet" href="~/Content/plugins/summernote/summernote-bs4.css">*@
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	<link rel="stylesheet" href="~/Content/dist/css/customize.css">
	<!-- DataTables -->
	<link rel="stylesheet" href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<!-- SweetAlert2 -->
	<link rel="stylesheet" href="~/Content/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
	<!-- Toastr -->
	<link rel="stylesheet" href="~/Content/plugins/toastr/toastr.min.css" >


	<script src="~/Content/plugins/jquery/jquery.min.js"></script>
	<script src="~/Scripts/jquery.validate.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

	<script src="~/Content/Common.js"></script>
	<script type="text/javascript">
		$(function (){
            setInterval(KeepSessionAlive, @durationInMicroSeconds);
        });

        function KeepSessionAlive() {
            //
			$.post("/Account/CheckSessionAliveV1",null,
                    function (url) {
                        if(url!=""){
                            window.location=url;
                        }
                    });

            //$.post("/KeepSessionAlive.ashx", null, function () {
            //    //$("#result").append("<p>Session is alive and kicking!<p/>");
            //});
        }
	</script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        @Html.Partial("_TopNavigation")
        @Html.Partial("_LeftNavigation")
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <strong>Copyright &copy; 2020- @System.DateTime.Now.AddYears(1).Year <a href="#">Turant Sales</a>.</strong>
            All rights reserved.
            <b>Version 1.0</b>
            <div class="float-right d-none d-sm-inline-block">
                <b>Developed by <a href="www.thummartechnolab.com">TTPL</a></b>
            </div>
        </footer>
    </div>
	<!-- jQuery UI 1.11.4 -->
	<script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
		$.widget.bridge('uibutton', $.ui.button)
	</script>
	<!-- Bootstrap 4 -->
	<script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- ChartJS -->
	<script src="~/Content/plugins/chart.js/Chart.min.js"></script>
	<!-- Sparkline -->
	<script src="~/Content/plugins/sparklines/sparkline.js"></script>
	@*<!-- JQVMap -->
		<script src="~/Content/plugins/jqvmap/jquery.vmap.min.js"></script>
		<script src="~/Content/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
		<!-- jQuery Knob Chart -->
		<script src="~/Content/plugins/jquery-knob/jquery.knob.min.js"></script>*@
	<!-- daterangepicker -->
	<script src="~/Content/plugins/moment/moment.min.js"></script>
	<script src="~/Content/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
	<script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
	<!-- Tempusdominus Bootstrap 4 -->
	<script src="~/Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
	<!-- Summernote -->
	@*<script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>*@
	<!-- overlayScrollbars -->
	<script src="~/Content/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/Content/dist/js/adminlte.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	@*<script src="~/Content/dist/js/pages/dashboard.js"></script>*@
	<!-- AdminLTE for demo purposes -->
	<script src="~/Content/dist/js/demo.js"></script>
	<!-- jsGrid -->
	<script src="~/Content/plugins/jsgrid/jsgrid.min.js"></script>
	<script src="~/Content/plugins/jsgrid/src/jsgrid.validation.js"></script>
	<!-- Select2 -->
	<script src="~/Content/plugins/select2/js/select2.full.min.js"></script>
	<script src="~/Content/plugins/jquery-ui/jquery-ui.js"></script>
	<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script src="~/Content/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
	<!-- SweetAlert2 -->
	<script src="~/Content/plugins/sweetalert2/sweetalert2.min.js"></script>
	<!-- Toastr -->
	<script src="~/Content/plugins/toastr/toastr.min.js"></script>
	<script>


        $(".sidebar ul a").on('click', function (e) {
            var link = $(this);

            var item = link.parent("li");

            if (item.hasClass("active")) {
                item.removeClass("active").children("a").removeClass("active");
            } else {
                item.addClass("active").children("a").addClass("active");
            }

            if (item.children("ul").length > 0) {
                var href = link.attr("href");
                link.attr("href", "#");
                setTimeout(function () {
                    link.attr("href", href);
                }, 300);
                e.preventDefault();
            }
        })
            .each(function () {
                var link = $(this);
                if (link.get(0).href === location.href) {
                    link.addClass("active").parents("li").addClass("has-treeview menu-open");
                    return false;
                }
            });
    </script>
	<style>
		.input-validation-error{
			border: 1px solid #dc0134 !important;
		}
	</style>
</body>
</html>
