﻿@model IEnumerable<CRMModel.CustomEntity.SP_Select_ContactProduct>

@{int Count = 1;}

<div class="table-responsive">
	<table class="table table-bordered m-0  " id="latestRequest">
		<thead>
			<tr>
				<th>Product Name</th>
				<th>Unit</th>
				<th>Value</th>
				<th>Rating</th>
				<th>Action</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ToList())
			{
				<tr>
					<td>@item.ProductName</td>
					<td>@item.Unit</td>
					<td>

						@Convert.ToDecimal(item.Value).ToString("#,##0.00")

					</td>
					<td>@item.Rating</td>
					<td><a onclick='OpenProductDialog(@item.Id,@item.ConatctId,@item.CallId,"dlgProduct")'><i class="fas fa-pencil-alt"></i></a></td>
				</tr>
			}
		</tbody>
	</table>
</div>


@*@foreach (var item in Model.ToList())
	{
		<div class="row">

			<div class="col-md-10">
				<div class="row">
					<div class="col-md-3">
						<strong>Product Name</strong>
						<p class="text-muted">
							@item.ProductName
						</p>
						<hr>
					</div>
					<div class="col-md-3">
						<strong>Unit</strong>
						<p class="text-muted">
							@item.Unit
						</p>
						<hr>
					</div>
					<div class="col-md-3">
						<strong>Value</strong>
						<p class="text-muted">
							@item.Value
						</p>
						<hr>
					</div>
					<div class="col-md-3">
						<strong>Rating</strong>
						<p class="text-muted">
							@item.Rating
						</p>
						<hr>
					</div>
				</div>
			</div>
			<div class="col-md-2">

			</div>
		</div>
		Count = Count + 1;
	}*@
