﻿@model CRMModel.CustomEntity.SP_Select_ContactProduct
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmManageProduct" }))
{
	@Html.HiddenFor(model => model.ConatctId)
	@Html.HiddenFor(model => model.CallId)
	@Html.HiddenFor(model=>model.Id)
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label>Product <span class="text-danger">*</span></label>
				@Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
				@Html.HiddenFor(model => model.ProductId)
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>Unit</label>
				@Html.TextBoxFor(model => model.Unit, new { @class = "form-control" })
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>Value <span class="text-danger">*</span></label>
				@Html.TextBoxFor(model => model.StrValue, new { @class = "form-control" })
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>Rating</label>
				@Html.DropDownListFor(model => model.Rating, new SelectList(ViewBag.RatingList, "Value", "Text", Model.Rating), "Select", new { @class = "form-control" })

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<input type="button" value="Save" class="btn btn-primary" onclick="SaveProductDetails();" />
		</div>
	</div>
}
<script>
	$(document).ready(function () {
		$("#StrValue").inputmask({ 'alias': 'decimal', rightAlign: true, 'groupSeparator': '.', 'autoGroup': true });

		$("#ProductName")
			.bind("keydown", function (event) {

				if (event.keyCode == 188) {
					$(this).val('');
					event.preventDefault();
				}
				if (event.keyCode === $.ui.keyCode.TAB &&
					$(this).data("ui-autocomplete").menu.active) {
					event.preventDefault();
				}

			})
			.autocomplete({
				source: function (request, response) {
					$.ajax({
						url: '/Member/Product/FetchProduct',
						dataType: "json",
						method: "GET",
						data: {
							SearchText: extractLast(request.term)
						},
						success: function (data) {
							console.log(data);
							response(data);
						}
					});
				},
				minLength: 2,
				change: function (event, ui) {
					/*if (!ui.item) {
						this.value = '';
						$(this).val('');
						$(this).prop('placeholder', "No Match Found");
					}*/
				},
				select: function (event, ui) {
					event.preventDefault();
					$(this).val(ui.item.label);
					$("#ProductId").val(ui.item.value);
					if (ui.item.value != 0) {
						if (ui.item.label.indexOf("No Match Found") < 0) {

							$(this).val(ui.item.label);
							$("#ProductId").val(ui.item.value);
						}
					}
					else {
						//this.value = '';
						$("#ProductId").val("0");
					}
				},
				focus: function () {
					// prevent value inserted on focus
					return false;
				}
			}).autocomplete("instance")._renderItem = function (ul, item) {
				return $("<li>")
					.append("<div>" + item.label + "</div>")
					.appendTo(ul);
			};
	});
</script>