﻿@using CRMBAL
@using CRMModel.CustomEntity
@using CRMModel
@using CRMUtility;
@{
    ViewBag.Title = "Index";
    //Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
    bool IsAllowed = false;
    var UserRestriction = Common_BAL.VerifyUserAllowToPerformAction(En_RestrictionKey.IndustryType.ToString(), UserSession.UserId, ref IsAllowed);
}


<section class="content p-2">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Industry</h3>
            <div class="float-right">
                @*<a href="#" class="btn-sm btn-block btn-primary">
                        <i class="fa fa-plus-square "></i>
                        Add New
                    </a>*@
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @Html.Partial("/Views/Shared/Common/_MessagePartial.cshtml")
            <div id="jsGrid1"></div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
<div id="dialog-confirm">

</div>
<script type="text/javascript">
	function CommonActions(UserId,ActionValue,ActionType) {

	}
	function Delete(UniqueId) {
		$("#dialog-confirm").html("<p>Do you really want to delete the record?</p>")
		$("#dialog-confirm").dialog({
			resizable: false,
			title: "Confirmation",
			height: "auto",
			width: 400,
			modal: true,
			buttons: {
				"Yes": function () {

					$.ajax({
						url: "/Member/Industry/Delete",
						dataType: "json",
						data: { id: UniqueId }

					}).done(function (response) {
						if (response.IsSuccess == true) {
							$("#jsGrid1").jsGrid();
						}
						else {

						}


					});
					$(this).dialog("close");
				},
				Cancel: function () {
					$(this).dialog("close");
				}
			}
		});

	}
	$(document).ready(function () {
		console.log('@IsAllowed.ToString().ToLower()');
		$("#jsGrid1").jsGrid({
			height: "auto",
			width: "100%",
			filtering: true,
			editing: true,
			inserting: @IsAllowed.ToString().ToLower(),
			sorting: true,
			paging: true,
			autoload: true,
			pageSize: 15,
			pageButtonCount: 5,
			deleteConfirm: "Do you really want to delete the Industry?",
			controller: {
				loadData: function (filter) {
					var d = $.Deferred();
					$.ajax({
						type: "GET",
						url: "/Member/Industry/GetIndustryList",
						dataType: "json",
						data: filter
					}).done(function (response) {
						console.log(response);
						d.resolve(response);
					});
					return d.promise();
				},
				insertItem: function (item) {
					var d = $.Deferred();
					$.ajax({
						type: "POST",
						url: "/Member/Industry/ManageIndustry/",
						data: item,
						dataType: "json"
					}).done(function (data) {
						//console.log("done:" + JSON.stringify(data));
						debugger;
						d.resolve(data.Data);
						if (data.IsSuccess == true) {
							MakeToast("1", "Success");
						} else {
							MakeToast("3", data.Message);
						}

					}).fail(function (data) {
						//	console.log("fail" + msg);
						d.reject();
					});

					return d.promise();
				},
				updateItem: function (item) {
					var d = $.Deferred();
					$.ajax({
						type: "POST",
						url: "/Member/Industry/ManageIndustry/",
						data: item,
						dataType: "json"
					}).done(function (data) {
						d.resolve(data.Data);
						if (data.IsSuccess == true) {
							MakeToast("1", "Success");
						} else {
							MakeToast("3", data.Message);
						}
					}).fail(function (msg) {
						//	console.log("fail" + msg);
						d.reject();
					});
					return d.promise();
				},
				deleteItem: function (item) {
					var d = $.Deferred();
					$.ajax({
						type: "POST",
						url: "/Member/Industry/Delete/" + item.Id,
						dataType: "json"
					}).done(function (data) {
						d.resolve(data.Data);
					}).fail(function (msg) {
						//	console.log("fail" + msg);
						d.reject();
					});
					return d.promise();
				}
			},
			rowClass: function (item, itemIndex) {
				return "row_" + itemIndex;
			},
			fields: [
				//{ name: "UsergroupId", type: "number", width: 50, align: "center", filtering: false },
				{
					name: "IndustryType", title: "Industry Type", type: "text", width: 200, validate: "required", align: "center",css:"industrylist"
				},
				{ name: "CreatedOn", title: "Created On", type: "text", filtering: false,editing: false, inserting: false, width: 150, align: "center" },
				{ name: "UpdatedOn", title: "Updated On", type: "text", filtering: false,editing: false, inserting: false, width: 150, align: "center" },
				//{ name: "GroupType", type: "select", items: GroupTypes, valueField: "Name", textField: "Name", width: 50, align: "center", sorting: false },
				{
					name: "IsActive", type: "checkbox", title: "Active", align: "center", validate: "required", filtering: false, editing: true, inserting: true, sorting: false,
					/*itemTemplate: function (value, item) {
						$textColor = "text-gray";
						if (item.IsActive == true) {
							$textColor = "text-success";
						}
						$PaidClass = "fas fa-check-circle " + $textColor;

						$PaidButton = $("<a>")
							.attr({ onclick: "CommonActions" + "('" + item.Id + "','" + item.IsActive + "','" + "IsActive" + "')" })
							//.attr({ class:"btn btn-info"})
							.attr({ title: "Active/Deactive" })
							.append($("<i>").attr({ class: $PaidClass }));
						return $("<div>").append($PaidButton)
					}*/
				},
				{ type: "control" }
			]
		});
		$('#jsGrid1').closest('.jsgrid')
			.find('.jsgrid-grid-header .jsgrid-table .jsgrid-filter-row .jsgrid-cell')
			.find('input, select')
			.focus(function (e) {
				var $header = $(e.target).closest('.jsgrid-grid-header');
				$body = $header.siblings('.jsgrid-grid-body');

				setTimeout(function () {

					//	$body[0].scrollLeft = $header[0].scrollLeft;

					$(".jsgrid-grid-body").scrollLeft($header[0].scrollLeft);
				}, 0);
			});
	});
</script>

