﻿@model MiniCRM.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Change Password";
}

<div class="card">
    <div class="card-body login-card-body">

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Change Password Form</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="input-group mb-3">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" ,placeholder="OLD Password"})
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" ,placeholder="New Password"})
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" ,placeholder="Confirm Password"})
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="submit" value="Change password" class="btn btn-primary btn-block" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}