﻿@model CRMModel.CustomEntity.SP_Select_Announcement

<section class="content p-2">
    <div class="card">
        @*<div class="card-header">
            <h3 class="card-title">Annoucement</h3>
        </div>*@
        @Html.Partial("/Views/Shared/Common/_MessagePartial.cshtml")
        <div class="card-body">



            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="AnnouceMent">AnnouceMent <span class="text-danger">*</span></label>
                
                <div class="col-sm-10">
                    @Html.TextAreaFor(model => model.AnnouceMent, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AnnouceMent)
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.IsMember, new { @class = "col-sm-2 form-check-label" })

                <div class="form-check">
                    @Html.CheckBoxFor(model => model.IsMember, new { @class = "form-check-input" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.IsActive, new { @class = "col-sm-2 form-check-label" })

                <div class="form-check">
                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input" })
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Add" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", "Announcement", new { @class = "btn btn-default" })

        </div>
    </div>

</section>
