﻿
@{
    ViewBag.Title = "Annoucement";
}


<section class="content p-2">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Annoucement</h3>
            <div class="float-right">
                <a href="@Url.Action("ManageAnnouncement","Announcement")" class="btn-sm btn-block btn-primary">
                    <i class="fa fa-plus-square "></i>
                    Add New
                </a>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @Html.Partial("/Views/Shared/Common/_MessagePartial.cshtml")
            <div id="jsGrid1"></div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<script type="text/javascript">

    function Delete(UniqueId) {
        $("#dialog-confirm").html("<p>Do you really want to delete the record?</p>")
        $("#dialog-confirm").dialog({
            resizable: false,
            title: "Confirmation",
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Yes": function () {

                    $.ajax({
                        url: "/Admin/Announcement/Delete",
                        dataType: "json",
                        data: { id: UniqueId }

                    }).done(function (response) {
                        if (response.IsSuccess == true) {
                            $("#jsGrid1").jsGrid();
                        }
                        else {

                        }


                    });
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });

    }
    $(document).ready(function () {
        $("#jsGrid1").jsGrid({
            height: "auto",
            width: "100%",
            filtering: true,
            sorting: true,
            paging: true,
            autoload: true,
            pageSize: 15,
            pageButtonCount: 5,
            deleteConfirm: "Do you really want to delete the Industry?",
            controller: {
                loadData: function (filter) {
                    var d = $.Deferred();
                    $.ajax({
                        type: "GET",
                        url: "/Admin/Announcement/GetAnnouncementList",
                        dataType: "json",
                        data: filter
                    }).done(function (response) {
                        console.log(response);
                        d.resolve(response);
                    });
                    return d.promise();
                },
                deleteItem: function (item) {
                    return $.ajax({
                        type: "POST",
                        url: "/Admin/Announcement/Delete/" + item.Id,
                        dataType: "json"
                    });
                },

            },

            fields: [
                { name: "AnnouceMent", title: "Annoucement", type: "text", width: 300, validate: "required", align: "center", },
                { name: "CreatedOn", title: "Created On", type: "text",  width: 60, align: "center" ,filtering: false,},
                { name: "UpdatedOn", title: "Updated On", type: "text", width: 60, align: "center",filtering: false, },
                { name: "IsActive", type: "checkbox", title: "Active", width: 40,align: "center", filtering: true, },
                { name: "IsMember", type: "checkbox", title: "Member",width: 50, align: "center", filtering: true, sorting: false },
                {
                    name: "Id", type: "text", title: "Edit", width: 30, align: "center", filtering: false,
                    itemTemplate: function (value, item) {
                        $OnClickEvent = "@Url.Action("ManageAnnouncement","Announcement")" + "/" + item.Id;

                        $PaidClass = "fas fa-pencil-alt";
                        $PaidButton = $("<a>")
                            .attr({ id: "action_" + item.Id })
                            .attr({ href: $OnClickEvent })
                        .attr({ title: "Edit Announcement" })
                            .append($("<i>").attr({ class: $PaidClass }));
                        return $("<div>").append($PaidButton)
                    }
                },
                { type: "control",modeSwitchButton: false, editButton: false,width: 20 },
            ]
        });

        $('#jsGrid1').closest('.jsgrid')
            .find('.jsgrid-grid-header .jsgrid-table .jsgrid-filter-row .jsgrid-cell')
            .find('input, select')
            .focus(function (e) {
                var $header = $(e.target).closest('.jsgrid-grid-header');
                $body = $header.siblings('.jsgrid-grid-body');

                setTimeout(function () {

                    //	$body[0].scrollLeft = $header[0].scrollLeft;

                    $(".jsgrid-grid-body").scrollLeft($header[0].scrollLeft);
                }, 0);
            });
    });
</script>