﻿@model CRMModel.CustomEntity.SP_Select_Announcement

@{
    ViewBag.Title = "Manage Announcement";
}
<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Announcement</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Announcement")">Announcement</a></li>
              <li class="breadcrumb-item active">Announcement Add</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                @using (Html.BeginForm("ManageAnnouncement", "Announcement", FormMethod.Post,new {@class="form-horizontal" }))
                {
                    @Html.Partial("_CreateOrUpdate", Model)
                }
            </div>
        </div>
    </div>
</section>


