﻿<!DOCTYPE html>
<html lang="en">
<head>
    @*<meta charset="utf-8" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Main/images/favicon.ico" rel="shortcut icon">
    @Styles.Render("~/Content/css")
	<link href="~/Content/Main/css/customize.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>

</head>
<body>
    <div class="container-fluid navigation-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="logo hidden-xs hidden-sm"><a href="~/" class=""><img src="~/Content/Main/images/theme/logo.png" alt="Logo" /></a></div>
                    <div class="logo-xtwo hidden-lg hidden-md"><a href="~/" class=""><img src="~/Content/Main/images/theme/logo.png" alt="Logo" /></a></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10">
                    <ul class="nill-box-menu nill-box-menu-anim-flip nill-box-menu-response-to-icons">
                        <li class="hidden-xs"><a href="~/"><i class="fa fa-single fa-home"></i></a></li>
                        <li class="switcher"><a href="#"><i class="fa fa-bars"></i>Menu</a></li>


                        <li aria-haspopup="true">
                            <a href="@Url.Action("About","Home")"><i class="fa fa-user"></i><i class="fa fa-indicator "></i>Why Us</a>
                        </li>
                        <li aria-haspopup="true"><a href="@Url.Action("Howtouse","Home")"><i class="fa fa-tasks"></i>How To Use</a></li>
                        <li aria-haspopup="true"><a href="@Url.Action("Faq","Home")"><i class="fa fa-question-circle"></i>FAQ</a></li>
                        <li aria-haspopup="true"><a href="@Url.Action("Contact","Home")"><i class="fa fa-envelope"></i> Contact Us</a></li>
                        


                        @Html.Partial("_LoginPartial")

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix nav-finish"></div>




    @RenderBody()
    <div class="bottom-menu bottom-menu-inverse">
        <div class="container modul-space-twentyseven">
            <div class="row">
                <div class="col-md-1"><img src="~/Content/Main/images/theme/logo-icon.png" height="40" alt="logo" /></div>
                <div class="col-md-11">
                    <ul class="bottom-links pull-right hidden-sm hidden-xs">
                        <li><a href="@Url.Action("About","Home")">About Us</a></li>

                        <li><a href="@Url.Action("Privacy","Home")">Privacy</a></li>
                        <li><a href="@Url.Action("Terms","Home")">Terms</a></li>
                        <li><a href="@Url.Action("Howtouse","Home")">How To Use</a></li>                        
                        <li><a href="@Url.Action("Payment","Home")">How To Pay</a></li>
                        <li><a href="@Url.Action("Faq","Home")">FAQ</a></li>
                        <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>


    @*<script type="text/javascript">$(function(){$("#Grid").mixitup()});</script>
        <script type="text/javascript">jQuery(document).ready(function(){jQuery("#example6").showbizpro({dragAndScroll:"off",visibleElementsArray:[4,4,1,1],carousel:"on",entrySizeOffset:0,allEntryAtOnce:"off",rewindFromEnd:"off",autoPlay:"off",delay:2000,speed:500});jQuery("#example7").showbizpro({dragAndScroll:"off",visibleElementsArray:[2,2,1,1],carousel:"on",entrySizeOffset:0,allEntryAtOnce:"off",rewindFromEnd:"off",autoPlay:"off",delay:2000,speed:500})});</script>*@
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
