﻿<!DOCTYPE html>
<html>
<head>
	<title>@Page.Title</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- icheck bootstrap -->
	<link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

	<link rel="stylesheet" href="~/Content/plugins/select2/css/select2.min.css" />
	<link rel="stylesheet" href="~/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
	<!-- Theme style -->
	<link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">

	<!-- jQuery -->
	<script src="~/Content/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/Content/dist/js/adminlte.min.js"></script>
	<script src="~/Scripts/jquery.validate.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
	<!-- Select2 -->
	<script src="~/Content/plugins/select2/js/select2.full.min.js"></script>
	@RenderSection("head", required: false)
</head>
<body class="hold-transition register-page">
	<div class="register-box">
		<div class="register-logo">
			@*<a href="~/"><b>Turant </b>Sales</a>*@
			<img src="/Content/Main/images/theme/logo.png" alt="Turant Sales" />
		</div>
		<div class="card">
			@RenderBody()
		</div><!-- /.card -->
	</div>
	<!-- /.register-box -->
        @RenderSection("scripts", required: false)
</body>
</html>
