﻿@using Microsoft.AspNet.Identity
@using CRMUtility;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

         <li class="right">
            <a href="@Url.Action( "Index", "Manage")"> <i class="fa fa-user"> </i> Hello  @UserSession.UserName  !</a>
        </li>
        <li class="right"><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log off</a></li>

    }
}
else
{
	@*class="right"*@
    <li aria-haspopup="true" ><a href="@Url.Action( "Payment", "Home")"> <i class="fa fa-money"></i>How To Pay </a> </li>
    <li aria-haspopup="true" ><a href="@Url.Action( "Register", "Account")"> <i class="fa fa-user"></i>Register </a> </li>
    <li aria-haspopup="true"><a href="@Url.Action( "Login", "Account")"><i class="fa fa-sign-in"></i> Login </a> </li>

}
