﻿
<div class="row">
	<div class="col-md-12">
		@if ((string)ViewBag.Type == "4")
		{

			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<h4><i class="icon fa fa-ban"></i> Alert!</h4>
				@ViewBag.Op_Message
			</div>
		}
		else if ((string)ViewBag.Type == "2")
		{
			<div class="alert alert-info alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<h4><i class="icon fa fa-info"></i> Alert!</h4>
				@ViewData["Op_Message"]
			</div>
		}
		else if ((string)ViewBag.Type == "3")
		{
			<div class="alert alert-warning alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<h4><i class="icon fa fa-warning"></i> Alert!</h4>
				@ViewData["Op_Message"]
			</div>
		}
		else if ((string)ViewBag.Type == "1")
		{
			<div class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<h4>	<i class="icon fa fa-check"></i> Alert!</h4>
				@ViewBag.Op_Message
			</div>
		}
	</div>
</div>