﻿@{
    ViewBag.Title = "About";
}
<div class="container-fluid parallax-three modul-bt-one" data-speed="5" data-type="background">
    <div class="container">
        <div class="row">
			<div class="col-md-12">
				<div class="big-title">
					<h2>Why Us</h2>
					@Html.Partial("~/Views/Shared/Common/_Announcement.cshtml")
				</div>

			</div>
        </div>
    </div>
</div>
<div class="container-fluid modul-bt-one">
    <div class="container modul-space-twentythree">
        <div class="row">
            <div class="col-md-6">
                <div class="post-detail">
                    <div class="tp-banner-container">
                        <div class="tp-banner">
                            <ul>
                                <li data-transition="boxfade" data-slotamount="5" data-masterspeed="1000"><img src="~/Content/Main/images/theme/p2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"></li>
                                <li data-transition="boxfade" data-slotamount="5" data-masterspeed="1000"><img src="~/Content/Main/images/theme/p8.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"></li>
                                <li data-transition="boxfade" data-slotamount="5" data-masterspeed="1000"><img src="~/Content/Main/images/theme/p5.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"></li>
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6">
                <div class="post-detail">
                    <div class="blog-slider-list post-page-list aboutus-single-title phone-space-seven">
                        <h1>Why Turant Sales</h1>
                    </div>
                    <p>Most sales CRM available in the market today are difficult to use , they need a lot of customisation which eats up time and money  which small businesses cannot afford. These CRM’s are complex and need a lot of training and software support to get going.</p>
                    <p>Sales is a painstaking process involving a lot of prospecting before an engaged customer can be found. The prospecting  period is important, and you cannot spend a lot of time making data entries into the CRM . So, if your sales involve finding a lot of new customers Turant Sales is a CRM for you , it frees up your time to engage more with customers vis-a-vis spending time on the CRM process. You can create and delete contacts in a second and only when you are comfortably engaged with your contacts you can get into detailing and deeper engagements. </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">jQuery(document).ready(function () { jQuery(".tp-banner").revolution({ delay: 9000, startwidth: 800, startheight: 600, hideThumbs: 10 }) });</script>
<style>
    p, ul, li {
        font-size: 16px;
        font-weight: 400;
        color: #616263;
    }
</style>