﻿@model MiniCRM.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="container-fluid parallax-three modul-bt-one" data-speed="5" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="big-title">
                    <h2>Contact Us</h2>
                    @Html.Partial("~/Views/Shared/Common/_Announcement.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container-fluid">
       <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=A-333%20%2C%20Sector%2019%20%2C%20Noida%20.%20%20Delhi%20+(Turant%20Sales)&ie=UTF8&t=&z=15&iwloc=A&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/en/measure-map-radius/">Draw Map Circle</a></iframe></div><br />
    </div>*@
<div class="container-fluid parallax-four modul-bt-one" data-speed="5" data-type="background">
    <div class="container modul-space-eightteen">
        <div class="row">
            <div class="col-md-12">
                @*<h4>CONTACT FORM:</h4>
                    <hr>*@
                @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                {
                    <div class="leave-comment">
                        <div class="row comment-forms">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group input-group">
                                        <span class="input-group-addon"><span class="fui-user"></span></span>

                                        @Html.TextBoxFor(model => model.Name, new { placeholder = "Name:", @class = "form-control" })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group">
                                        <span class="input-group-addon"><span class="fui-mail"></span></span>
                                        @*<input class="form-control" id="prependedInput-02" type="text" placeholder="E-Mail:">*@
                                        @Html.TextBoxFor(model => model.Email, new { placeholder = "E-Mail:", @class = "form-control" })

                                    </div>
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group">
                                        <span class="input-group-addon"><span class="fui-link"></span></span>

                                        @Html.TextBoxFor(model => model.Mobile, new { placeholder = "Phone:", @class = "form-control" })

                                    </div>
                                </div>
                                 @if (TempData["Successs"] != null) { 
                                <span class="text-green">@TempData["Successs"]</span>
                                }
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">

                                    @Html.TextAreaFor(model => model.Comment, new { placeholder = "Add Message...", rows = "8", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group pull-right">
                                    <input type="submit" class="btn btn-info" value="Send Message" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="container-fluid modul-bt-one">
    <div class="container modul-space-seventeen">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 modul-phone">
                <div class="modul-services-one mso-icon">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b mso-icon-space"><i class="fa fa-location-arrow fa-2x hi-icon"></i></div>
                    <h6>Adress</h6>
                    <p>A-333 , Sector 19 , Noida .  Delhi NCR – India.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 modul-phone">
                <div class="modul-services-one mso-icon">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b mso-icon-space"><i class="fa fa-phone fa-2x hi-icon"></i></div>
                    <h6>Phone Number</h6>
                    <p>+91 9920700638</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 modul-phone">
                <div class="modul-services-one mso-icon">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b mso-icon-space"><i class="fa fa-envelope fa-2x hi-icon"></i></div>
                    <h6>E-Mail</h6>
                    <p>info@turantsales.com</p>
                </div>
            </div>
            @*<div class="col-xs-12 col-sm-6 col-md-3 modul-phone">
                  <div class="modul-services-one mso-icon">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b mso-icon-space"><i class="fa fa-anchor fa-2x hi-icon"></i></div>
                    <h6>Other Web Page</h6>
                    <p>www.Turantsales.com</p>
                  </div>
                </div>*@
            <div class="clearfix"></div>
        </div>
    </div>
</div>
