﻿@{
    ViewBag.Title = "FAQ";
}
<div class="container-fluid parallax-three modul-bt-one" data-speed="5" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
				<div class="big-title">
					<h2>FAQ</h2>
					@Html.Partial("~/Views/Shared/Common/_Announcement.cshtml")
				</div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid modul-bt-one">
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="comments-area">
                    <div class="comment-list">
                        <ul class="media-list">
                            <li class="">
                                <div class="media-body">
                                    <h3>
                                        How do you create more contacts ?
                                    </h3>

                                    <p>You can create additional rows for the same organisation and later group them. Alternatively, you can add more contacts , up to three more in the form associated with a row. </p>
                                </div>
                            </li>
                             <li class="">
                                <div class="media-body">
                                    <h3>
                                       How do you add more products to a contact ?
                                    </h3>

                                    <p>You can add more products to an organisation/contact by going to the  form associated with a row.</p>
                                </div>
                            </li>
                             <li class="">
                                <div class="media-body">
                                    <h3>
                                       Is it mandatory to enter organisation name in the user admin or organisation name master first to start work ?
                                    </h3>

                                    <p>No , this may lead to some duplication , but editing is possible later in the day.</p>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    p, ul, li {
        font-size: 16px;
        font-weight: 400;
        color: #616263;
    }
</style>