﻿@{
    ViewBag.Title = "How To Use";
}
@*<style>
    p, ul, li{
    font-size: 16px;
    font-weight: 600;
    color:#616263;

}
</style>*@
<style>
    p, ul, li {
        font-size: 16px;
        font-weight: 400;
        color: #616263;
    }
</style>
<div class="container-fluid parallax-three modul-bt-one" data-speed="5" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
				<div class="big-title">
					<h2>How To Use</h2>
					@Html.Partial("~/Views/Shared/Common/_Announcement.cshtml")
				</div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid modul-bt-one">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-detail">

                    <h4>
                            Welcome to Turant Sales , its simple and easy to use . The following steps will help you get going quickly.
                        </h4>
                    <p>1. You need to first go to the user admin and create/enter the products you wish to sell.</p>
                    <p>2.	You can create and maintain up to 4 industry customer lists and each list can accommodate up to 300 contacts.</p>
                    <p>3.	You are provided with a + symbol  to create a new contact row , just enter the organisation name and name of the person which is mandatory to start off.</p>
                    <p>4.	You can have one row for  a uniquely named customer contact  but there can be multiple rows for the same organisation .</p>
                    <p>5.	If you have time you can enter more information in each row such as designation , ratings , customer type.</p>
                    <p>6.	Alternately by pressing ++ which opens a contact form , all details associated with the new contact can be inserted here.  What you enter in the contact form also gets displayed on the contact row. Some people may choose to work on the contact row first and others first on contact from .You can enter in contact row first and then edit/clean-up in the contact form.</p>
                    <p>7.	All rows have an automatic counter to record the days that have passed since the last customer call. Additionally, you can also put in a date when you want to make the next customer call.</p>
                    <p>8.	Subsequently once the data is entered in the contact row  and you happen to have just spoken to your customer , you can make use of the quick call done button for each row ,  just press it and the days counter starts.</p>
                    <p>9.	What transpired in your conversation with the customer  can be fed into in the contact form by entering the conversation details in call text box of the contact form. You can  select if the call was via a phone , email, or chat or if it was a group meeting .</p>
                    <p>10.	The user can also put a revenue value to the organisation/contact via the contact form . This can be done by putting in number of units and total revenue.</p>
                    <p>11.	All your contacts can be rated on a scale of 1-10 by the user , with 10 being most attractive. </p>
                    <p>
                        12.	We can add customer type via a drop down in each contact row .
                        <ul>
                            <li>EC ( Economic buyer ) - The person who gives final approval to buy your product or service.</li>
                            <li>TB ( Technical buyer ) - A person who is a technical buyer & markets and sells products/services.</li>
                            <li>(S) Support  - A person who ensures supportability.</li>
                            <li>(C) Coach - A person who has high credibility, supports your efforts, and offers ways to improve your position.</li>
                            <li>(A) Anti-Sponsor - A type of Key Player who has a high level of authority and influence and seeks to negate your efforts</li>
                        </ul>


                    </p>
                    <p>14.	Contact rows can be view sorted by making use of a sort button.</p>
                    <p>15.	Users can export their contacts for back up by making use of the export button.</p>
                    <p>16.	Users can import contacts into the sales CRM buy making use of a pre-formatted excel sheet. </p>
                    <p>17.	By selecting single contact row the user can export all the call details for a contact.</p>

                </div>
                  <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>