﻿@using CRMBAL
@using CRMModel.CustomEntity
@{
    ViewBag.Title = "Home Page";
}
@{
    List<SP_Select_PackageCustom> plan = new List<SP_Select_PackageCustom>();
    plan = Package_BAL.GetPlanList();
    List<SP_Select_Announcement> _Announcements = new List<SP_Select_Announcement>();
    _Announcements = Announcement_BAL.GetAnnouncementsList("Common");
}
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <li data-transition="slotzoom-horizontal" data-slotamount="5" data-masterspeed="700">
                <img src="~/Content/Main/images/theme/coollife_homepage.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="tp-caption mediumlarge_light_white customin customout hidden-xs" data-x="center" data-hoffset="0" data-y="center" data-voffset="-220" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1700" data-easing="Back.easeInOut" data-endeasing="Back.easeInOut" data-endspeed="1000" style="z-index: 11">Setup your sales CRM </div>
                <div class="tp-caption medium_light_white customin customout hidden-xs" data-x="center" data-hoffset="0" data-y="center" data-voffset="-160" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2000" data-easing="Back.easeInOut" data-endeasing="Back.easeInOut" data-endspeed="1000" style="z-index: 11">In a Flash </div>

            </li>
            <li data-transition="slotzoom-horizontal" data-slotamount="5" data-masterspeed="700">
                <img src="~/Content/Main/images/theme/Cold-Calling.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="tp-caption mediumlarge_light_black customin customout hidden-xs" data-x="right" data-hoffset="-100" data-y="center" data-voffset="-50" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1700" data-easing="Back.easeInOut" data-endspeed="300" data-endeasing="Back.easeInOut" style="z-index: 11">Ideal for </div>
                <div class="tp-caption medium_light_black customin customout hidden-xs" data-x="right" data-hoffset="-100" data-y="center" data-voffset="0" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2000" data-easing="Back.easeInOut" data-endspeed="300" data-endeasing="Back.easeInOut" style="z-index: 11">Small Business & Self Employed </div>
                <div class="tp-caption medium_light_black customin customout hidden-xs" data-x="right" data-hoffset="-100" data-y="center" data-voffset="60" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2300" data-easing="Back.easeInOut" data-endspeed="300" data-endeasing="Back.easeInOut" style="z-index: 11"><a href="@Url.Action("Register","Account")" class="btn  btn-slider-black btn-lg">Start Now</a></div>

                @*<div class="tp-caption medium_light_black customin customout" data-x="left" data-hoffset="0" data-y="bottom" data-voffset="110" data-customin="x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;" data-customout="x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;" data-speed="1000" data-start="2300" data-easing="Back.easeInOut" data-endspeed="300" style="z-index: 1"><img src="~/Content/Main/images/theme/slide-one.png" alt="Slide One"/></div>*@
            </li>
            <li data-transition="slotzoom-horizontal" data-slotamount="5" data-masterspeed="700">
                <img src="~/Content/Main/images/theme/slideback-white.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="tp-caption mediumlarge_light_black customin customout hidden-xs" data-x="center" data-hoffset="0" data-y="center" data-voffset="-220" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1700" data-easing="Back.easeInOut" data-endeasing="Back.easeInOut" data-endspeed="1000" style="z-index: 11">The best Sales CRM </div>
                <div class="tp-caption medium_light_black customin customout hidden-xs" data-x="center" data-hoffset="0" data-y="center" data-voffset="-170" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2000" data-easing="Back.easeInOut" data-endeasing="Back.easeInOut" data-endspeed="1000" style="z-index: 11">for Cold calling </div>
                <div class="tp-caption medium_light_black customin customout" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="140" data-customin="x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;" data-customout="x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;" data-speed="1000" data-start="2300" data-easing="Back.easeInOut" data-endspeed="300" style="z-index: 1"><img src="~/Content/Main/images/theme/slide-three.png" alt="Slide One" /></div>
            </li>
            <li data-transition="slotzoom-horizontal" data-slotamount="5" data-masterspeed="700">
                <img src="~/Content/Main/images/theme/ColdCalling.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="tp-caption mediumlarge_light_white customin customout hidden-xs" data-x="right" data-hoffset="-100" data-y="center" data-voffset="-50" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1700" data-easing="Back.easeInOut" data-endeasing="Back.easeInOut" data-endspeed="1000" style="z-index: 11">Grab your Business Contacts </div>
                <div class="tp-caption medium_light_white customin customout hidden-xs" data-x="right" data-hoffset="-100" data-y="center" data-voffset="0" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2000" data-easing="Back.easeInOut" data-endeasing="Back.easeInOut" data-endspeed="1000" style="z-index: 11"></div>
                @*<div class="tp-caption medium_light_white customin customout" data-x="right" data-hoffset="0" data-y="center" data-voffset="60" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2300" data-easing="Back.easeInOut" data-endeasing="Back.easeInOut" data-endspeed="1000" style="z-index: 11"><a href="@Url.Action("Register","Account")" class="btn btn-slider btn-lg">Start Now</a></div>*@
                <div class="tp-caption medium_light_black customin customout hidden-xs" data-x="right" data-hoffset="-100" data-y="center" data-voffset="60" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2300" data-easing="Back.easeInOut" data-endspeed="300" data-endeasing="Back.easeInOut" style="z-index: 11"><a href="@Url.Action("Register","Account")" class="btn btn-slider btn-lg">Start Now</a></div>
                @*<div class="tp-caption medium_light_black customin customout" data-x="right" data-hoffset="0" data-y="bottom" data-voffset="110" data-customin="x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;" data-customout="x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;" data-speed="1000" data-start="2300" data-easing="Back.easeInOut" data-endspeed="300" style="z-index: 1"><img src="~/Content/Main/images/theme/slide-three.png" alt="Slide One"/></div>*@

            </li>
            <li data-transition="slotzoom-horizontal" data-slotamount="5" data-masterspeed="700">
                <img src="~/Content/Main/images/theme/slideback-green.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <div class="tp-caption mediumlarge_light_white customin customout hidden-xs" data-x="left" data-hoffset="100" data-y="center" data-voffset="-50" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1700" data-easing="Back.easeInOut" data-endspeed="300" data-endeasing="Back.easeInOut" style="z-index: 11">The most affordable sales CRM in the Market </div>
                <div class="tp-caption medium_light_white customin customout hidden-xs" data-x="left" data-hoffset="100" data-y="center" data-voffset="0" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2000" data-easing="Back.easeInOut" data-endspeed="300" data-endeasing="Back.easeInOut" style="z-index: 11">Free Trail for 30 days.</div>
                <div class="tp-caption medium_light_black customin customout hidden-xs" data-x="left" data-hoffset="100" data-y="center" data-voffset="60" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:400;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2300" data-easing="Back.easeInOut" data-endspeed="300" data-endeasing="Back.easeInOut" style="z-index: 11"><a href="@Url.Action("Register","Account")" class="btn btn-slider btn-lg">Start Now</a></div>
                @*<div class="tp-caption medium_light_black customin customout" data-x="right" data-hoffset="0" data-y="bottom" data-voffset="110" data-customin="x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;" data-customout="x:0;y:200;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 0%;" data-speed="1000" data-start="2300" data-easing="Back.easeInOut" data-endspeed="300" style="z-index: 1"><img src="~/Content/Main/images/theme/slide-two.png" alt="Slide One"/></div>*@
            </li>



        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("~/Views/Shared/Common/_Announcement.cshtml")

        </div>
    </div>
</div>

<div class="container-fluid modul-bt-one">
    <div class="container modul-space-two">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 modul-phone">
                <div class="modul-services-one mso-icon">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b mso-icon-space"><i class="fa fa-rocket fa-2x hi-icon"></i></div>
                    <h6>Quick Startup </h6>
                    <p>Easy to set up. As sales calls are done, information can be rapidly uploaded in seconds without many dropdowns.</p>
                    @*<a class="btn btn-primary btn-sm">Discovery</a>*@
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 modul-phone">
                <div class="modul-services-one mso-icon">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b mso-icon-space"><i class="fa fa-magic fa-2x hi-icon"></i></div>
                    <h6>Contacts Dashboard</h6>
                    <p>Single screen view for all sales relationships.</p>
                    @*<a class="btn btn-primary btn-sm">Discovery</a>*@
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 modul-phone">
                <div class="modul-services-one mso-icon">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b mso-icon-space"><i class="fa fa-briefcase fa-2x hi-icon"></i></div>
                    <h6>Opportunity Funnel</h6>
                    <p>Build account opportunity values product wise with probabilities.</p>
                    @*<a class="btn btn-primary btn-sm">Discovery</a>*@
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 modul-phone">
                <div class="modul-services-one mso-icon">
                    <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b mso-icon-space"><i class="fa fa-cogs fa-2x hi-icon"></i></div>
                    <h6>Ideal for Cold Calling</h6>
                    <p>Cold calling and chasing customers now made easy. Track days since last spoken and also track no response calls.</p>
                    @*<a class="btn btn-primary btn-sm">Discovery</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid modul-bt-one parallax-three" data-speed="15" data-type="background">
    <div class="container modul-space-two">
        <div class="row">
            @foreach (var item in plan)
            {
                <div class="col-xs-12 col-sm-6 col-md-3 modul-phone">
                    <div class="modul-price-one mso-icon-ten">
                        <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b mso-icon-space">
                            <div class="hi-icon">
                                <h1 class="inverse-color">@item.Price</h1>
                                @if (!item.PackageGroupName.Contains("Free"))
                                {
                                    @*<h6>+ @item.TaxPercentage %</h6>
                                        <h6>INR / @item.ValidityMonths Month</h6>*@
                                    <h6>&nbsp;</h6>
                                    <h6>Inclusive of Taxes</h6>
                                }
                                else
                                {
                                    <h6> 1 Month</h6>
                                }

                            </div>
                        </div>
                        <h2>@item.PackageName</h2>
                        <ul>
                            @if (!item.PackageGroupName.Contains("Free"))
                            {
                                foreach (var sub in item.PackageGroupConfigurations)
                                {
                                    if (!String.IsNullOrEmpty(sub.RestrictionValue))
                                    {
                                        string TextData = "";
                                        TextData = sub.RestrictionValue.ToString() + " " + sub.RestrictionKey;
                                        if (!String.IsNullOrEmpty(sub.RestrictionDependency) && sub.RestrictionDependency != "None")
                                        {
                                            TextData = TextData + " Per " + sub.RestrictionDependency;


                                        }
                                        <li>@TextData</li>
                                    }

                                }
                            }
                            else
                            {
                                 <li>&nbsp;</li>
                                <li>1 Month</li>
                                 <li>All Feature</li>
                            }
                        </ul>
                        <a class="btn btn-default btn-lg" style="display:none;">Purchase</a>
                    </div>
                </div>
            }

         
        </div>
    </div>
</div>

<script type="text/javascript">var revapi; jQuery(document).ready(function () { revapi = jQuery(".tp-banner").revolution({ delay: 90000, startwidth: 1170, startheight: 500, hideThumbs: 10, fullScreen: "on", fullScreenAlignForce: "on", fullScreenOffsetContainer: ".navigation-menu" }); revapi = jQuery(".tp-banner-two").revolution({ delay: 9000000, startwidth: 1200, startheight: 356, hideThumbs: 200, thumbWidth: 100, thumbHeight: 50, thumbAmount: 3, navigationType: "none", soloArrowLeftHalign: "left", soloArrowLeftValign: "center", soloArrowLeftHOffset: 0, soloArrowLeftVOffset: 0, soloArrowRightHalign: "right", soloArrowRightValign: "center", soloArrowRightHOffset: 0, soloArrowRightVOffset: 0, touchenabled: "on", onHoverStop: "on" }) });</script>