﻿
@{
    ViewBag.Title = "Payment";
}
<style>
    .tblPackage {
        width: 280px;
    }

        .tblPackage tr {
            border: 1px solid !important;
        }

        .tblPackage td {
            padding: 5px;
            border: 1px solid;
            text-align:center;
        }

    .pad10 {
        padding-top: 10px;
    }
</style>
<div class="container-fluid parallax-three modul-bt-one" data-speed="5" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="big-title">
                    <h2>How To Payment</h2>
                    @Html.Partial("~/Views/Shared/Common/_Announcement.cshtml")
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid modul-bt-one">
    <div class="container">
        <div class="row" style="padding:10px 0;">
            <div class="col-md-8">
                <div class="col-md-12"><b>You can purchase Turant Sales as follows.</b> <br /><br /></div>
                <div class="col-md-12">
                    <table class="tblPackage">
                        <thead>
                            <tr>
                                <td><b>Package</b></td>
                                <td><b>Price in INR</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1 Month</td>
                                <td>590</td>
                            </tr>
                            <tr>
                                <td>6 Month</td>
                                <td>2950</td>
                            </tr>
                            <tr>
                                <td>1 Year</td>
                                <td>5900</td>
                            </tr>
                        </tbody>
                    </table>
                    <span style="padding-left:50px"><b>** inclusive of taxes</b></span>
                </div>
                <br />
                <div class="col-md-12">
                    You can  purchase using PayTm and send us an email at <b>info@turantsales.com</b> with the following information ;
                    <br />
                    <br />
                   <b> 1.	Name of Package purchased</b>
                    <br />
                    <br />
                    <b> 2.	Amount Transferred</b>
                    <br />
                    <br />
                   <b>  3.	Your registered email</b>
                    <br />
                    <br />
                   <b>  4.	Your contact Phone</b>
                    <br />
                    <br />
                    <b>The package activation shall happen as soon as we receive the money transfer please give us 24 hours.</b>
                </div>
            </div>

            <div class="col-md-4">
                <img src="~/Content/Main/images/Paytm.jpg" style="width: 100%;height: 100%;" />
                @*<div class="post-detail">
                                        <div class="tp-banner-container">
                                            <div class="tp-banner">
                                                <img src="~/Content/Main/images/theme/p2.jpg" alt="slidebg1" data-bgfit="cover"></li>
                    <img src="~/Content/Main/images/Paytm.jpg" />
                                                <div class="tp-bannertimer"></div>
                                            </div>
                                        </div>
                                    </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

