﻿
@{
    ViewBag.Title = "Privacy";
}


<div class="container-fluid parallax-three modul-bt-one" data-speed="5" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
				<div class="big-title">
					<h2>Privacy Policy</h2>
					@Html.Partial("~/Views/Shared/Common/_Announcement.cshtml")
				</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid modul-bt-one">
    <div class="container modul-space-twentythree">
        <div class="row">
            <div class="col-md-12">
                <h1>Privacy Policy for Turant Sales</h1>
                <p>By using website and its services (for example, when you visit our website and read news or browse through various other portions of our websites or register via social media or via the registration form), you agree to provide consent to our collection, use and sharing of your personal information as described in this policy. In some cases, particularly if you reside in a country governed by a data protection regulation, we may ask you to provide explicit consent to access our services before proceeding for further operations.</p>
                <h1>What data is collected</h1>
                <h4>Collection and Use of Personal Information</h4>

                <p>
                    ‘Personal Information’ or ‘PII’ is defined as any information that identifies (whether directly or indirectly) to a particular individual or natural person, such as the individual’s name, postal address, email address, mobile number and any other identifier indicating to that particular person. When anonymous information is directly or indirectly associated with personal information, the resulting information also is treated as personal information.
                    The Company respects the privacy of the users of the Services they use and is committed to reasonably protect it in all respects. The information about the user as collected by the Company are:
                </p>
                <ul class="List">
                    <li>      Information supplied by users</li>
                    <li>      Information automatically tracked while navigation</li>
                    <li>      Inferred information through usage and log data</li>
                    <li>      Information collected from any other sources (like third party providers or social media platforms)</li>
                </ul>

                <h4> A.      Information collected at the time of registration</h4>
                <p>
                    When you register on the website or applications for the service, we ask that you provide basic personal information from you to continue to interact with you and to continue providing you the Services. Information that we collect incudes –
                </p>
                <ul>

                    <li>	Name </li>
                    <li>	Phone Number</li>
                    <li>	Gender</li>
                    <li>	Date of Birth</li>
                    <li>	Age</li>
                    <li>	Home Address</li>
                    <li>	Email Address</li>
                    <li>	PAN Number*</li>
                    <li>	Family Details</li>
                    <li>	Emergency contact Details</li>
                    <li>	Employment Information</li>
                </ul>
                <blockquote> *PAN number of user is collected in the event the cash payment is made above INR 49999</blockquote>
                <h3>Information you provide to us voluntarily:</h3>

                <p> We may collect additional information at other times, including but not limited to, when you provide feedback to TURRANT or you change your content or email preferences, respond to a survey, or communicate with us.</p>
                <h4> B. Information automatically collected while Browsing/navigating through the website</h4>
                <h6>Cookies</h6>
                <p>To improve the responsiveness of the “website” for our users, we may use “cookies”, or similar electronic tools to collect information to assign each visitor a unique, random number as a User Identification (User ID) to understand the user’s individual interests using the identified computer. Unless you voluntarily identify yourself (through registration, for example), we will have no way of knowing who you are, even if we assign a cookie to your computer. The only personal information a cookie can contain is information you supply. A cookie cannot read data off your hard drive. We receive and store certain types of information whenever you interact with us via the website. </p>
                <h4>C.    Inferred Information through usage and log data</h4>
                <p>
                    We may track certain information about you based upon your behavior on using TURRANT services. We use this information for conducting internal research on our users' demographics, devices, interests, and behavior to better understand, protect and serve our users.
                </p><p>
                    We may also collect Your Information to track user behavior and preferences for internal analytics and research. We may also use your information

                </p>
                <ul>
                    <li>             To evaluate your interest for various genres of content, services, offers</li>
                    <li>             To perform analytics and conduct customer research, to determine your </li>
                </ul>
                <p>
                    interest, for identifying content that generate sales and to analyze traffic patterns.
                    If you choose to post messages on social media accounts, message boards, or other message areas or leave feedback, we will collect that information you provide to us. We retain this information as necessary to resolve disputes, provide customer support and troubleshoot problems as permitted by law.
                </p>
                <p>The above information may also be captured by keeping cookies on our websites by our affiliates for the purposes mentioned above</p>
                <p>
                    If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on our services, we may collect and store such information.

                </p>
                <h4>D. Information we collect from third parties</h4>
                <h6>Information obtained from other sources</h6>
                <p>We may obtain updated contact information from third parties in order to correct our records and fulfil the Services or to communicate with you.</p>
                <h1>How collected data is used</h1>
                <h4>Purpose and Lawfulness of processing</h4>
                <p> We will only collect and process personal data about you where we have lawful basis. Lawful basis on which we would process your personal information includes obtaining explicit consent from you or processing for "legitimate interests" where processing is necessary by us to provide you with services (For e.g. processing your information by our group companies/affiliates).</p>
                <p>We use information to provide, analyze, administer, enhance and personalize our service and marketing efforts, to process your registration, to provide you services, and to communicate with you related to below mentioned points. For example, we use information to:</p>
                <ul>
                    <li> Communicate with you concerning our service (for example by email, push notifications), so that we can send you news about TURRANT, details about new features and content available on the TURRANT Services, promotional announcements, and surveys, and to assist you with operational requests such as password reset requests.</li>
                    <li> Notify you about changes in terms of service or privacy policy</li>
                    <li> Allow you to participate in interactive features offered through our Services</li>
                    <li> Sharing with our customer support team to resolve your queries/concerns related to your rights or services provided to you</li>

                </ul>
                <h4>Information use by the company</h4>
                <p>   The Information supplied by you enables us to improve our services and provide you the most user-friendly experience(s). In some cases for e.g. provision of certain service(s) or utility (ies), we may require your contact information as well. All required information is service dependent and the Company may use the above said user Information to, maintain, protect, and improve the Services (including advertising) and for developing new services.</p>

                <p>Any personally identifiable information provided by you will not be considered as sensitive if it is freely available and / or accessible in the public domain like any comments, messages, blogs, scribbles available on social platforms like Facebook, twitter etc. Any posted/uploaded/conveyed/communication by users on the public sections of the "application/websites" becomes published content and is not considered personally identifiable information subject to this Privacy Policy.</p>

                <p>In case you choose to decline to submit personally identifiable information on the application/websites, we may not be able to provide certain services on the application/websites to you. In any case, we will not be liable and or responsible for the denial of certain services to you for lack of you providing the necessary personal information.</p>

                <p>When you register with our Services, we may contact you from time to time about updating your personal information to provide you features that we believe may benefit / interest you.</p>
                <h2>How collected data is shared</h2>
                <h4>Information sharing to third parties</h4>
                <p>The Company shares your information with any third parties without obtaining the prior consent of User in the following limited circumstances:</p>
                <ul class="List">
                    <li>
                        When it is requested or required by law or by any court or governmental agency or authority to disclose, for the purpose of verification of identity, or for the prevention, detection, investigation including cyber incidents, or for prosecution and punishment of offences. These disclosures are made in good faith and belief that such disclosure is reasonably necessary for enforcing these Terms or for complying with the applicable laws and regulations.
                    </li>
                    <li>The Company proposes to share such information within its group companies and officers and employees of such group companies for the purpose of processing personal information on its behalf. We also ensure that these recipients of such information agree to process such information based on our instructions and in compliance with this Privacy Policy and any other appropriate confidentiality and security measures.</li>
                </ul>
                <h2>User control over collected data</h2>
                <p>  We will take reasonable steps to accurately record the personal information that you provide to us and any subsequent updates, subject to any requirement for such personal information or sensitive personal data or information to be retained by law or for legitimate business purposes.</p>
                <p>We encourage you to review, update, and correct the personal information that we maintain about you, and you may request that we delete personal information about you that is inaccurate, incomplete, or irrelevant for legitimate purposes, or are being processed in a way which infringes any applicable legal requirement. If you would like to review, change or delete personal information we have collected from you please contact the Organization1 Grievance Officer.</p>
                <p>We ask individual users to identify themselves and the information requested to be accessed, corrected or removed before processing such requests. In any case, where we provide information access and correction, we perform this service free of charge, except if doing so would require a disproportionate effort.</p>
                <p>Your right to review, update, correct, and delete your personal information may be limited, subject to the law of your jurisdiction:</p>
                <ul>
                    <li> If your requests are unreasonably excessive or repetitive,</li>
                    <li>   Where the rights or safety of another person or persons would be jeopardized, or</li>
                    <li>  If the information or material you request relates to existing or anticipated legal proceedings between you and us, or providing access to you would prejudice negotiations between us or an investigation of possible unlawful activity. Your right to review, update, correct, and delete your information is subject to our records retention policies and applicable law, including any statutory retention requirements</li>

                </ul>
                <h1>Security and compliance with laws: How we protect your personal data</h1>
                <p>We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data. These include internal reviews of our data collection, storage and processing practices and security measures, including appropriate encryption and physical security measures to guard against unauthorized access to systems where we store personal data. All information gathered on the Site is securely stored within the TURRANT controlled database. The database is stored on servers secured behind a firewall; access to the servers is password-protected and is strictly limited. However, as effective as our security measures are, no security system is impenetrable. If you know or have reason to believe that your TURRANT account credentials have been lost, stolen, altered, or otherwise compromised or in case of any actual or suspected unauthorized use of your account, please contact us by contacting our customer support team.</p>
                <h2>Changes to privacy notice</h2>
                <p>The internet is an ever evolving medium. We may alter our privacy policy from time to time to incorporate necessary changes in technology, applicable law or any other variant. In any case, we reserve the right to change (at any point of time) the terms of this Privacy Policy or the Terms of Use. Any changes we make will be effective immediately on notice, which we may give by posting the new policy on the “Site”. Your use of the Site or services offered through the Site after such notice will be deemed acceptance of such changes. We may also make reasonable efforts to inform you via electronic mail. In any case, you are advised to review this Privacy Policy periodically on the “Site”) to ensure that you are aware of the latest version.</p>
                <h2>
                    Retention Period
                </h2>
                <p>Because of the way we maintain certain services, after you delete your information, residual copies may take a period of time before they are deleted from our active servers and may remain in our backup systems.</p>
                <h2>Resolving privacy issues</h2>
                <h6>Support</h6>
                <p>If you require any information or clarification regarding the use of your personal information or this privacy policy or grievances with respect to use of your personal information, please contact Organization1@turrant.com</p>
                <h6>Complaints</h6>
                <p>If you have any queries, complaints regarding the collecting, processing, transfer of personal data/information or regarding this policy please do contact our Data Protection Officer.</p>
                <h6>Redressal Mechanism</h6>
                <p>Any complaints, abuse or concerns with regards to the processing of information provided by you or breach of these terms shall be immediately informed to the designated Grievance Officer as mentioned below via in writing or through email signed with the electronic signature to  Alok Saxena ("Grievance Redressal Officer")</p>
                <pre>
                Mr. Alok Saxena
                Turrant Sales,
                A-333 , Sector 19 ,
                Noida , Delhi NCR.
                India.
                Mobile :+91  9920700638
                Email: Support@turrant.com</pre>

            </div>
        </div>
    </div>
</div>
<style>
   p, ul, li,pre {
        font-size: 16px;
        font-weight: 400;
        color: #616263;
    }

    .List li {
        list-style: lower-alpha !important;
        font-size: 16px;
        color: #616263;
    }
    pre{
        border:none;
      /* color:#000;
       font-size:16px;*/
    }
</style>
