﻿
@{
    ViewBag.Title = "Terms";
}



<div class="container-fluid parallax-three modul-bt-one" data-speed="5" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
				<div class="big-title">
					<h2>Terms & Condition</h2>
					@Html.Partial("~/Views/Shared/Common/_Announcement.cshtml")
				</div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid modul-bt-one">
    <div class="container modul-space-twentythree">
        <div class="row">
            <div class="col-md-12">
                <ul>
                <li>At Turant Sales your personal data is safe , we don’t sell or promise to sell your personal data to third parties or use it in any other way other than for the operation of this application. You agree by your own free will to host your customer data with Turant Sales for storage and use. Once uploaded and on your request , Turant sales shall immediately delete your customer data or as soon as possible.   You fully understand that Turant Sales shall maintain reasonable security practices and procedures to keep your data safe. Please read our privacy policy from the below <a href="@Url.Action("Privacy","Home")">link</a>  .</li>
                <li>
                    I will have a Terms and Conditions page made with following content and on registration will take and acceptance that the user has read the T&C . Please check if the contents are okay for the T&C page with the privacy policy link . Do I need to put some other text or a “generated security” policy ?
                </li>

                <li>At Turant Sales we promise not to sell your data to third parties or use it in any other way other than for the operation of this application. We promise to maintain all reasonable security practices and procedures to keep your data safe .  You have read our privacy policy & Terms of Service</li>
                <li>You agree by your own free will to host your customer data with Turant Sales for storage and use. You fully understand that Turant Sales. You have read and understood our privacy policy.</li>
                </ul>
                   
            </div>
        </div>
    </div>
</div>
<style>
      p, ul, li {
        font-size: 16px;
        font-weight: 400;
        color: #616263;
    }
</style>