﻿@using CRMUtility
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="@Url.Action("Index","Home",new { area="Admin"})" class="brand-link">
        <img src="~/Content/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Turant sales</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@UserSession.UserName</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
	with font-awesome or any other icon font library -->
				<li class="nav-item">
					<a href="@Url.Action("Index","Home",new { area="Admin"})" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							Dashboard
							@*<span class="right badge badge-danger">New</span>*@
						</p>
					</a>
				</li>
				@*<li class="nav-item has-treeview menu-open">
			<a href="#" class="nav-link active">
				<i class="nav-icon fas fa-tachometer-alt"></i>
				<p>
					Dashboard
					<i class="right fas fa-angle-left"></i>
				</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a href="./index.html" class="nav-link active">
						<i class="far fa-circle nav-icon"></i>
						<p>Dashboard v1</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="./index2.html" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>Dashboard v2</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="./index3.html" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>Dashboard v3</p>
					</a>
				</li>
			</ul>
		</li>*@
				<li class="nav-item">
					<a href="@Url.Action("Index","User",new { area="Admin"})" class="nav-link">
						<i class="nav-icon fas fa-user-alt"></i>
						<p>
							Users
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="@Url.Action("Index","Announcement",new { area="Admin"})" class="nav-link">
						<i class="nav-icon fas fa-bullhorn"></i>
						<p>
							Announcement
						</p>
					</a>
				</li>
				<li class="nav-item has-treeview">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-box"></i>
						<p>
							Packages
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="@Url.Action("Index","PackageGroup",new { area="Admin"})" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Package Group</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="@Url.Action("Index","Package",new { area="Admin"})" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Package</p>
							</a>
						</li>

					</ul>
				</li>
				@*<li class="nav-item">
					<a href="@Url.Action("Index","Package",new { area="Admin"})" class="nav-link">
						<i class="nav-icon fas fa-bullhorn"></i>
						<p>
							Package
						</p>
					</a>
				</li>*@
			</ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
