﻿@model CRMModel.CustomEntity.SP_Select_Package

<section class="content p-2">
    <div class="card">
        @*<div class="card-header">
                <h3 class="card-title">Package</h3>
            </div>*@
        @Html.Partial("/Views/Shared/Common/_MessagePartial.cshtml")
        <div class="card-body">
            @Html.HiddenFor(model => model.TaxId)
            @Html.HiddenFor(model => model.CurrencyCode)
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="PackageGroupId">Package Group <span class="text-danger">*</span></label>
                
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.PackageGroupId, new SelectList(ViewBag.PackageGroupList, "Id", "PackageGroupName", Model.PackageGroupId), "Select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PackageGroupId)
                </div>
            </div>

            <div class="form-group row">
                 <label class="col-sm-2 col-form-label" for="PackageGroupId">PackageName <span class="text-danger">*</span></label>
                
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.PackageName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PackageName)
                </div>
            </div>
            <div class="form-group row">

                @Html.LabelFor(model => model.ValidityMonths, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.ValidityMonths, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ValidityMonths)
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.ValidityInDays, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.ValidityInDays, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ValidityInDays)
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Price, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.IsTaxablePrice, new { @class = "col-sm-2 col-form-label" })

                <div class="form-check">
                    @Html.CheckBoxFor(model => model.IsTaxablePrice, new { @class = "form-check-input" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.IsAnyRestriction, new { @class = "col-sm-2 col-form-label" })

                <div class="form-check">
                    @Html.CheckBoxFor(model => model.IsAnyRestriction, new { @class = "form-check-input" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.IsActive, new { @class = "col-sm-2 col-form-label" })

                <div class="form-check">
                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.IsDisplay, new { @class = "col-sm-2 col-form-label" })

                <div class="form-check">
                    @Html.CheckBoxFor(model => model.IsDisplay, new { @class = "form-check-input" })
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Add" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", "Package", new { @class = "btn btn-default" })

        </div>
    </div>
</section>
