﻿@using CRMBAL
@using CRMModel.CustomEntity
@{
	Layout = "";
}
@{
	List<SP_Select_Announcement> _Announcements = new List<SP_Select_Announcement>();
	_Announcements = Announcement_BAL.GetAnnouncementsList("");

}
@if (_Announcements != null)
{
	if (_Announcements.Count() > 0)
	{
		string Announcement = String.Join("|", _Announcements.Select(s => s.AnnouceMent).ToList());
		<marquee direction="left"><span class="text-danger">@Announcement</span></marquee>
		
	}
}