﻿
@model IEnumerable<CRMModel.CustomEntity.SP_Select_PackageGroupConfiguration>
@{
	Layout = "";
}

<table class="table table-bordered m-0  " id="configtable">
	<thead>
		<tr>

			<th>Action</th>
			<th>Restriction For</th>
			<th>Dependency</th>
			<th>Restriction Value</th>
			<th>CreatedOn</th>
			<th>UpdatedOn</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ToList())
		{
			<tr>

				<td>
				<a onclick='OpenPackageConfigurationDialog(@item.Id,@item.PackageGroupId,"dlgPackageConfig")'><i class="fas fa-pencil-alt"></i></a>

				</td>
				<td>@item.RestrictionKey</td>
				<td>@item.RestrictionDependency</td>
				<td>@item.RestrictionValue</td>
				<td>@item.CreatedOn</td>
				<td>@item.UpdatedOn</td>
			</tr>
		}

	</tbody>
</table>

<script>
	$(function () {
		$("#configtable").DataTable({
			"responsive": true,
			"autoWidth": true,
			"ordering": false,
			"searching": false,
			"paging": false,
			"info": false
		});
		/*$('#example2').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": false,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
		});*/
	});
</script>