﻿@model CRMModel.CustomEntity.SP_Select_PackageGroupConfiguration
@{
    Layout = "";
}


@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmManageConfig" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.PackageGroupId)
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Restriction For <span class="text-danger">*</span></label>
                @Html.DropDownListFor(model => model.RestrictionKey, new SelectList(ViewBag.RestrictionKeyList, "Value", "Text", Model.RestrictionKey), "Select", new { @class = "form-control" })
                @*@Html.DropDownListFor(model => model.RestrictionKey, new SelectList(ViewBag.RestrictionKey as System.Collections.IEnumerable, "Value", "Text", Model.RestrictionKey), "Select", new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.RestrictionKey)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Dependency <span class="text-danger">*</span></label>
                @Html.DropDownListFor(model => model.RestrictionDependency, new SelectList(ViewBag.RestrictionDependencyList, "Value", "Text", Model.RestrictionDependency), "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RestrictionDependency)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Restriction Value <span class="text-danger">*</span></label>
                @Html.TextBoxFor(model => model.RestrictionValue, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RestrictionDependency)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <input type="button" value="Save" id="btnSave" class="btn btn-primary" onclick="SaveConfigurationDetails();" />
            </div>
           
        </div>
    </div>

}
<script>
$(document).ready(function () {
        var restrictionKey = $("#RestrictionKey option:selected").val();
        AddRemovedependancy(restrictionKey)
    });
    $("#RestrictionKey").change(function () {
        var restrictionKey = $("#RestrictionKey option:selected").val();
        AddRemovedependancy(restrictionKey)
    });
    function DropDownCheck(Value) {
        var exists = false;
        $('#RestrictionDependency option').each(function () {
            if (this.value == Value) {
                exists = true;
            }
        });
        return exists;
    }
    function AddRemovedependancy(restrictionKey) {
        if (restrictionKey == "Call") {
            if (DropDownCheck('None')) {
                $("#RestrictionDependency option[value='None']").remove();
            }
            if (!DropDownCheck('IndustryType')) {
                $('#RestrictionDependency').append('<option value="IndustryType">IndustryType</option>');
            }

        } else if (restrictionKey == "Contact") {
            if (DropDownCheck('IndustryType')) {
                $("#RestrictionDependency option[value='IndustryType']").remove();
            }
            if (!DropDownCheck('None')) {
                $('#RestrictionDependency').append('<option value="None">None</option>');
            }
        } else if (restrictionKey == "IndustryType") {
            if (DropDownCheck('IndustryType')) {
                $("#RestrictionDependency option[value='IndustryType']").remove();
            }
            if (DropDownCheck('None')) {
                $("#RestrictionDependency option[value='None']").remove();
            }
        }
    }
</script>