﻿@model CRMModel.ViewModel.PackageGroupDetails_mdl

@{
	ViewBag.Title = "GroupDetails";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	int ConfigCount = 0;
	if (Model.PackageGroupConfigurations != null)
	{
		ConfigCount = Model.PackageGroupConfigurations.Count();
	}
}

<section class="content p-2">
	<div class="card">
		<div class="card-header ">
			<h3 class="card-title">Group Details</h3>
			@if (ConfigCount < 3)
			{
				<div class="float-right">
					<a class="btn-sm btn-block btn-primary" title="Add Configuration" onclick='OpenPackageConfigurationDialog(0,@Model.Id,"dlgPackageConfig");'>
						<i class="fa fa-plus-square "></i>
					</a>
				</div>
			}

		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<div id="contactList">
				@if (Model.PackageGroupConfigurations != null)
				{
					@Html.Partial("~/Areas/Admin/Views/PackageGroup/_GroupDetails.cshtml", Model.PackageGroupConfigurations)
				}
			</div>
		</div>
	</div>
</section>
<div id="dlgPackageConfig">

</div>

