﻿
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<section class="content p-2">
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Package Group</h3>
			<div class="float-right">
				@*<a href="#" class="btn-sm btn-block btn-primary">
						<i class="fa fa-plus-square "></i>
						Add New
					</a>*@
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			@Html.Partial("/Views/Shared/Common/_MessagePartial.cshtml")
			<div id="jsGrid1"></div>
		</div>
		<!-- /.card-body -->
	</div>
	<!-- /.card -->
</section>
<!-- /.content -->
<div id="dialog-confirm">

</div>
<script type="text/javascript">
	function CommonActions(UserId,ActionValue,ActionType) {

	}
	function Delete(UniqueId) {
		$("#dialog-confirm").html("<p>Do you really want to delete the record?</p>")
		$("#dialog-confirm").dialog({
			resizable: false,
			title: "Confirmation",
			height: "auto",
			width: 400,
			modal: true,
			buttons: {
				"Yes": function () {

					$.ajax({
						url: "/Admin/Industry/Delete",
						dataType: "json",
						data: { id: UniqueId }

					}).done(function (response) {
						if (response.IsSuccess == true) {
							$("#jsGrid1").jsGrid();
						}
						else {

						}


					});
					$(this).dialog("close");
				},
				Cancel: function () {
					$(this).dialog("close");
				}
			}
		});

	}
	$(document).ready(function () {
		var rspPackageType = [{ PackageType: "Free", PackageTypeId: 1 },
			{ PackageType: "Paid", PackageTypeId: 2 }];

		$("#jsGrid1").jsGrid({
			height: "auto",
			width: "100%",
			filtering: true,
			editing: true,
			inserting: true,
			sorting: true,
			paging: true,
			autoload: true,
			pageSize: 15,
			pageButtonCount: 5,
			deleteConfirm: "Do you really want to delete the pacakge group?",
			controller: {
				loadData: function (filter) {
					var d = $.Deferred();
					$.ajax({
						type: "GET",
						url: "/Admin/PackageGroup/GetPackageGroupList",
						dataType: "json",
						data: filter
					}).done(function (response) {

						d.resolve(response);
					});
					return d.promise();
				},
				insertItem: function (item) {
					var d = $.Deferred();
					$.ajax({
						type: "POST",
						url: "/Admin/PackageGroup/ManagePackageGroup/",
						data: item,
						dataType: "json"
					}).done(function (data) {
						//console.log("done:" + JSON.stringify(data));
						d.resolve(data.Data);
					}).fail(function (data) {
						//	console.log("fail" + msg);
						d.reject();
					});

					return d.promise();
				},
				updateItem: function (item) {
					var d = $.Deferred();
					$.ajax({
						type: "POST",
						url: "/Admin/PackageGroup/ManagePackageGroup/",
						data: item,
						dataType: "json"
					}).done(function (data) {
						//console.log("done:" + JSON.stringify(data));
						//console.log(data);
						d.resolve(data.Data);
					}).fail(function (msg) {
						//	console.log("fail" + msg);
						d.reject();
					});
					return d.promise();
				},
				deleteItem: function (item) {
					var d = $.Deferred();
					$.ajax({
						type: "POST",
						url: "/Admin/PackageGroup/Delete/" + item.Id,
						dataType: "json"
					}).done(function (data) {
						//console.log("done:" + JSON.stringify(data));
						//console.log(data);
						d.resolve(data.Data);
					}).fail(function (msg) {
						//	console.log("fail" + msg);
						d.reject();
					});
					return d.promise();
				}
			},
			rowClass: function (item, itemIndex) {
				return "row_" + itemIndex;
			},
			fields: [
				{ name: "PackageTypeId", title: "Package Type", type: "select", items: rspPackageType, valueField: "PackageTypeId", textField: "PackageType", width: 80, align: "center", sorting: false, filtering: false },
				{
					name: "PackageGroupName", title: "Group Name", type: "text", width: 150, validate: "required", align: "center"
				},
				{ name: "CreatedOn", title: "Created On", type: "text", filtering: false,editing: false, inserting: false, width: 100, align: "center" },
				{ name: "UpdatedOn", title: "Created On", type: "text", filtering: false,editing: false, inserting: false, width: 100, align: "center" },
				{
					name: "IsActive", type: "checkbox", title: "Active", align: "center", validate: "required", filtering: false, editing: true, inserting: true, sorting: false,
					/*itemTemplate: function (value, item) {
						$textColor = "text-gray";
						if (item.IsActive == true) {
							$textColor = "text-success";
						}
						$PaidClass = "fas fa-check-circle " + $textColor;

						$PaidButton = $("<a>")
							.attr({ onclick: "CommonActions" + "('" + item.Id + "','" + item.IsActive + "','" + "IsActive" + "')" })
							//.attr({ class:"btn btn-info"})
							.attr({ title: "Active/Deactive" })
							.append($("<i>").attr({ class: $PaidClass }));
						return $("<div>").append($PaidButton)
					}*/
				},
				{
					name: "IsActive", type: "text", title: "Details", width: 60, align: "center", filtering: false, editing: false, inserting: false,
					itemTemplate: function (value, item) {
						$textColor = "text-gray";

						$OnClickEvent = "CommonActions(this);";

						$PaidClass = "fas fa-cog " + $textColor;



						$PaidButton = $("<a>")
							//.attr({ class: $DisableClass })
							.attr({ id: "action_" + item.Id })


							.attr({ onclick: "window.location='/Admin/PackageGroup/GroupDetails/" + item.Id + "'" })
							//.attr({ onclick: "CommonActions" + "('" + item.UserId + "','" + item.IsPaid + "','" + "IsPaid" + "')" })
							//.attr({ class:"btn btn-info"})
							.attr({ title: "Group Detail" })
							.append($("<i>").attr({ class: $PaidClass }));
						//$PaidButton = $PaidButton.attr({ class: $DisableClass })
						return $("<div>").append($PaidButton)
					}
				},
				{ type: "control" }
			]
		});
		$('#jsGrid1').closest('.jsgrid')
			.find('.jsgrid-grid-header .jsgrid-table .jsgrid-filter-row .jsgrid-cell')
			.find('input, select')
			.focus(function (e) {
				var $header = $(e.target).closest('.jsgrid-grid-header');
				$body = $header.siblings('.jsgrid-grid-body');

				setTimeout(function () {

					//	$body[0].scrollLeft = $header[0].scrollLeft;

					$(".jsgrid-grid-body").scrollLeft($header[0].scrollLeft);
				}, 0);
			});
	});
</script>
