﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div class="container-fluid parallax-three modul-bt-one" data-speed="5" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="big-title">
                    <h2>@ViewBag.Title.</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid modul-bt-one">
    <div class="container modul-space-four">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2>
                    Please check your email to reset your password. Please wait For a 1 Minute.
                </h2>
            </div>
        </div>
    </div>
</div>

