﻿@model MiniCRM.Models.ForgotPasswordViewModel
@{
    /**/

    Page.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <hr />
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-12">
                            <input type="submit" class="btn btn-primary btn-block" value="Email Link" />
                        </div>
                    </div>
                }
                <p class="mt-3 mb-1">
                     @Html.ActionLink("Login", "Login")
                </p>
                <p class="mb-0">
                     @Html.ActionLink("Register as a new membership", "Register")
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    
