﻿@using MiniCRM.Models
@model LoginViewModel
@{
    Page.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


    <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control",placeholder="Email" })

                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group">
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="input-group mb-3">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>

            </div>
            <div class="input-group-addon">
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            </div>
            <div class="row">
                <div class="col-8">
					<div class="icheck-primary">
						@Html.CheckBoxFor(m => m.RememberMe, new { id = "remember" })
						<label for="remember">
							RememberMe

						</label>
					</div>
                </div>
                <div class="col-4">
                    <input type="submit" value="Sign In" class="btn btn-primary btn-block" />
                </div>
            </div>


        }
        @*<div class="social-auth-links text-center mb-3">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                </a>
            </div>*@
        <!-- /.social-auth-links -->
        <p class="mb-1">
            @*<a href="forgot-password.html">I forgot my password</a>*@
            @Html.ActionLink("I forgot my password", "ForgotPassword")
        </p>
        <p class="mb-0">
            @Html.ActionLink("Register Me", "Register")
        </p>
    </div>
    <!-- /.login-card-body -->


