﻿@model MiniCRM.Models.RegisterViewModel
@{
    Page.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="card-body register-card-body">
    <p class="login-box-msg">Register In</p>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "frmRegister", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user-alt"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user-alt"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    @Html.DropDownListFor(m => m.Gender, new SelectList(Model.GenderList, "Value", "Text"), "--Select--", new { @class = "form-control select2" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-male"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", placeholder = "Contact No" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-phone-alt"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            @Html.DropDownListFor(m => m.PackageId, new SelectList(Model.Packages, "Id", "PackageName"), new { @class = "form-control select2", @style="width:277" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-shopping-cart"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Retype password" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                    @Html.CheckBoxFor(model => model.AgreeTerms, new { id = "agreeTerms" })
                    <label for="agreeTerms">
                        I understand & Agree to  <a href="@Url.Action("Terms","Home")" rel="noopener noreferrer" target="_blank">terms of Service</a>
                    </label>
                </div>
            </div>
            <div class="col-4">
                <input type="submit" class="btn btn-primary btn-block" value="Register" />
            </div>
        </div>
    }
    @*<div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-primary">
                <i class="fab fa-facebook mr-2"></i>
                Sign up using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
                <i class="fab fa-google-plus mr-2"></i>
                Sign up using Google+
            </a>
        </div>*@
    @Html.ActionLink("I  have a login", "Login")

</div>
<!-- /.form-box -->
<script>
    $(function () {
        $('.select2').select2();
        $("#agreeTerms").attr("required");
    });
    var defaultRangeValidator = $.validator.methods.range;
    $.validator.methods.range = function (value, element, param) {
        if (element.type === 'checkbox') {
            // if it's a checkbox return true if it is checked
            return element.checked;
        } else {
            // otherwise run the default validation function
            return defaultRangeValidator.call(this, value, element, param);
        }
    }
</script>