﻿@model MiniCRM.Models.ResetPasswordViewModel
@{
     Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Reset password";
}

<div class="card">
    <div class="card-body login-card-body">

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Reset your password.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" ,placeholder="Email" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="Password" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control",placeholder="Confirm Password" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Reset" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
