﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="container-fluid parallax-three modul-bt-one" data-speed="5" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="big-title">
                    <h2>@ViewBag.Title.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid modul-bt-one">
    <div class="container modul-space-four">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h4>
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </h4>
            </div>
        </div>
    </div>
</div>
